.page-account {
	.hero {
		@include darken-image('https://images.unsplash.com/photo-1547825617-d1115120be4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80', .5, .4);
		background-attachment: fixed;
		height: auto;
		padding: 100px 0;

		.caption {
			position: static;
			margin: 0;
			height: auto;
		}
	}

	.content {
		padding: 50px 0;

		.list-group {
			.list-group-item {
				&.active, &:hover {
					background: map-get($theme-colors, primary);
					border-color: darken(map-get($theme-colors, primary), 5%);
					color: #fff;
				}
			}
		}

		form.stylised {
			padding: 20px;
			background: #fff;
			border: 1px solid #ddd;
			border-radius: 5px;

			.btn {
				display: inline-block;
				float: right;
				height: auto;
				padding: 10px 20px;
				background: map-get($theme-colors, primary);
				color: #fff;
				border: none;
				transition: all .5s;
				font-size: 1.2em;

				&:hover {
					background: #222;
				}
			}
		}

		form.stripe-form {
			.btn {
				display: inline-block;
				float: right;
				height: auto;
				padding: 10px 20px;
				background: map-get($theme-colors, primary);
				color: #fff;
				border: none;
				transition: all .5s;
				font-size: 1.2em;
				margin: 20px 0 0 0;

				&:hover {
					background: #222;
				}
			}
		}
	}

	&.page-account-order {
		.detail-wrapper {
			@include clearfix;

			.order-details {
				display: inline-block;
				float: left;
				width: calc(100% - 400px);
				padding-right: 20px;

				> h2 {
					font-size: 2em;
					font-weight: 900;
					font-weight: 900;
					margin-bottom: 30px;
					padding-right: 20px;

					small {
						color: #aaa;
						margin-left: 5px;
					}

					span {
						span {
							color: map-get($theme-colors, primary);
						}
					}
				}

				.order-item {
					@include clearfix;
					margin-bottom: 30px;

					.image, .info, .price {
						display: inline-block;
						float: left;
					}

					.image {
						width: 100px;

						img {
							border-radius: 100%;
						}
					}

					.info {
						width: calc(100% - 200px);
						padding-left: 20px;

						h2 {
							font-size: 1.8em;
							font-weight: 900;
							text-transform: uppercase;
							margin-top: 18px;

							.badge {
								color: #777;
								padding: 0 0 0 5px;
							}
						}

						p {
							font-size: 1em;
							color: #aaa;
							margin-top: 10px;
						}
					}

					.price {
						padding-left: 20px;
						padding-right: 20px;
						width: 100px;

						h3 {
							font-size: 1.6em;;
							text-align: right;
							margin-top: 35px;
						}

						a {
							display: block;
							font-size: 0.9em;
							color: #be2323;
							text-transform: uppercase;
							text-align: right;

							&:hover {
								color: #222;
							}
						}
					}

					&.deal-item {
						.info {
							h2 {
								margin-top: 8px;
							}
						}
					}
				}

				.order-total {
					h2 {
						font-size: 2em;
						font-weight: 900;
						text-transform: uppercase;

						&.right {
							text-align: right;
							padding-right: 20px;
						}

						span {
							color: map-get($theme-colors, primary);
						}
					}
				}
			}

			.payment-details {
				display: inline-block;
				float: right;
				width: 400px;
				background: #181818;
				border-radius: 10px;
				overflow: hidden;

				header {
					padding: 20px;
					background: #000;

					h2 {
						font-size: 2.2em;
						font-weight: 900;
						text-transform: uppercase;
						color: #fff;
						text-align: center;

						span {
							font-size: 0.8em;
							margin-right: 5px;
						}
					}

					p {
						font-size: 1em;
						line-height: 1.4em;
						color: #aaa;
						text-align: center;
						margin-top: 5px;

						a {
							text-transform: uppercase;

							strong {
								font-weight: 900;
							}
						}
					}
				}

				.body {
					padding: 20px;
				}

				footer {
					padding: 25px 20px;
					background: #000;

					.address {
						max-width: 340px;
						margin: 0 auto;

						h2 {
							font-size: 1.6em;
							text-transform: uppercase;
							font-weight: 900;
							color: #fff;
							margin: 0;
						}

						p {
							color: #aaa;
							font-size: 1em;
							margin-top: 10px;
						}
					}
				}
			}
		}

		&.page-account-order-new {
			padding-top: $header-height;

			.content {
				padding: 30px 0;
			}
		}
	}

	@media screen and (max-width: 600px) {
		.content {
			padding: 20px 0;

			.account-nav {
				margin-bottom: 20px;
			}
		}
	}
}