.page-cart {
	.hero {
		@include darken-image('https://images.unsplash.com/photo-1547825617-d1115120be4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80', .5, .4);
		background-attachment: fixed;
		height: auto;
		padding: 100px 0;

		.caption {
			position: static;
			margin: 0;
			height: auto;
		}
	}

	.cart {
		@include clearfix;
		padding: 50px 0;

		.cart-contents {
			display: inline-block;
			float: left;
			width: calc(100% - 400px);
			padding-right: 20px;

			.cart-item {
				@include clearfix;
				margin-bottom: 30px;

				.image, .info, .price {
					display: inline-block;
					float: left;
				}

				.image {
					width: 100px;

					img {
						border-radius: 100%;
					}
				}

				.info {
					width: calc(100% - 200px);
					padding-left: 20px;

					h2 {
						font-size: 1.8em;
						font-weight: 900;
						text-transform: uppercase;
						margin-top: 18px;

						.badge {
							color: #777;
							padding: 0 0 0 5px;
						}
					}

					p {
						font-size: 1em;
						color: #aaa;
						margin-top: 10px;
					}
				}

				.price {
					padding-left: 20px;
					padding-right: 20px;
					width: 100px;

					h3 {
						font-size: 1.6em;;
						text-align: right;
						margin-top: 30px;
					}

					a {
						display: block;
						font-size: 0.9em;
						color: #be2323;
						text-transform: uppercase;
						text-align: right;

						&:hover {
							color: #222;
						}
					}
				}
			}

			.cart-total {
				h2 {
					font-size: 2em;
					font-weight: 900;
					text-transform: uppercase;

					&.right {
						text-align: right;
						padding-right: 20px;
					}

					span {
						color: map-get($theme-colors, primary);
					}
				}
			}
		}

		.payment {
			display: inline-block;
			float: right;
			width: 400px;
			background: #181818;
			border-radius: 10px;
			overflow: hidden;

			header {
				padding: 20px;
				background: #000;

				h2 {
					font-size: 2.2em;
					font-weight: 900;
					text-transform: uppercase;
					color: #fff;
					text-align: center;

					span {
						font-size: 0.8em;
						margin-right: 5px;
					}
				}

				p {
					font-size: 1em;
					line-height: 1.4em;
					color: #aaa;
					text-align: center;
					margin-top: 5px;

					a {
						text-transform: uppercase;

						strong {
							font-weight: 900;
						}
					}
				}
			}

			form {
				.body {
					padding: 20px;

					.form-group {
						.form-control {
							@include placeholder(rgba(255, 255, 255, .5));
							background: #000;
							border: none;
							color: #fff;
							height: auto;
							padding: 10px;
							font-size: 1em;

							&:focus {
								box-shadow: none;
								background: map-get($theme-colors, primary);
								color: #fff;
							}
						}

						&:last-of-type {
							margin-bottom: 0;
						}
					}

					hr {
						margin: 10px 0;
						background: #000;
					}
				}
			}

			footer {
				padding: 20px;
				background: #000;

				.btn {
					display: block;
					height: auto;
					width: 100%;
					border: none;
					background: map-get($theme-colors, primary);
					font-size: 1.4em;
					border-radius: 5px;

					&:hover {
						background: #fff;
						color: map-get($theme-colors, primary);
					}
				}
			}

			.payment-user {
				.body {
					padding: 20px 0;

					.owl-carousel {
						position: relative;

						.owl-dots {
							display: block;
							position: absolute;
							bottom: 10px;
							left: 0;
							width: 100%;
							text-align: center;

							.owl-dot {
								display: inline-block;
								width: 10px;
								height: 10px;
								background: rgba(255, 255, 255, .3);
								border-radius: 100%;
								margin: 0 3px;

								&.active {
									background: rgba(255, 255, 255, .7);
								}
							}
						}

						.new-card {
							display: block;
							width: 350px;
							height: 200px;
							background: #000;
							margin: 0 auto;
							border-radius: 10px;
							text-align: center;
							padding: 0 15px;

							span {
								font-size: 3em;
								color: rgba(255, 255, 255, .6);
								margin: 35px 0 0 0;
							}

							h2 {
								font-size: 2em;
								color: #fff;
								font-weight: bold;
								text-transform: uppercase;
								margin: 10px 0 0 0;
							}

							p {
								font-size: 1.1em;
								color: rgba(255, 255, 255, .6);
								line-height: 1.4em;
								margin: 5px 0 0 0;
							}

							&:hover {
								background: map-get($theme-colors, primary);
							}
						}
					}

					.form-group {
						margin: 20px auto;
						max-width: 350px;

						label {
							display: block;
							font-size: 1em;
							color: #aaa;
							text-transform: uppercase;
							font-weight: 100;
							letter-spacing: 1px;
							// text-align: center;
						}

						.form-control {
							background: #000;
							border: none;
							color: #fff;
							height: auto;
							padding: 10px 15px;
						}

						&:last-of-type {
							margin-bottom: 0;
						}
					}

					.no-address {
						text-align: center;
						padding: 0 30px;

						h2 {
							color: #fff;
							font-size: 1.7em;
							text-transform: uppercase;
							font-weight: 900;
						}

						p {
							font-size: 1em;
							line-height: 1.5em;
							color: #aaa;
							margin: 10px 0 0 0;
						}
					}
				}
			}
		}

		.empty-cart {
			text-align: center;
			padding: 10px 0;

			span {
				font-size: 6em;
				color: #aaa;
			}

			h2 {
				font-size: 3em;
				font-weight: 900;
				margin-top: 10px;
			}

			p {
				font-size: 1.2em;
				line-height: 1.4em;
				color: #aaa;
				max-width: 500px;
				margin: 10px auto 0 auto;
			}

			.btn {
				max-width: 220px;
				margin: 20px auto 0 auto;
				border-color: map-get($theme-colors, primary);
				color: map-get($theme-colors, primary);

				&:hover {
					background: map-get($theme-colors, primary);
					color: #fff;
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		.cart {
			padding: 20px 0;

			.cart-contents, .payment {
				width: 100%;
				display: block;
				float: none;
				padding: 0;

				.cart-item {
					.image, .info, .price {
						display: block;
						float: none;
						width: 100%;
					}

					.image {
						img {
							display: block;
							width: 50%;
							margin: 0 auto;
						}
					}

					.info {
						margin-top: 15px;
						text-align: center;

						p {
							font-size: 1.1em;
						}
					}

					.price {
						h3, a {
							text-align: center;
						}

						h3 {
							margin-top: 15px;
							font-size: 1.8em;
						}

						a {
							font-size: 1.1em;
						}
					}
				}

				.cart-total {
					h2, h2.right {
						text-align: center;
					}
				}
			}

			.payment {
				margin-top: 30px;
			}
		}
	}
}