.page-categories {
	.hero {
		@include darken-image('https://images.unsplash.com/photo-1547825617-d1115120be4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80', .5, .4);
		background-attachment: fixed;
	}

	.tabs {
		background: #000;

		ul {
			@include reset-bounds;
			@include clearfix;
			list-style: none;

			li {
				display: inline-block;
				float: left;

				a {
					display: block;
					padding: 25px 30px;
					color: #aaa;
					font-size: 1.6em;

					&:hover {
						color: #fff;
					}
				}

				&.active {
					a {
						background: #fff;
						color: #333;

						background: map-get($theme-colors, primary);
						color: #fff;
					}
				}
			}
		}
	}

	.products {
		padding: 30px 0;
		background: #fff;
		margin-bottom: -30px;

		.product {
			display: block;
			background: #222;
			margin-bottom: 30px;
			border-radius: 10px;
			overflow: hidden;

			.image {
				height: 300px;
			}

			.info {
				padding: 25px;

				h2 {
					font-size: 3em;
					text-transform: uppercase;
					font-weight: 900;
					color: #fff;
					height: 34px;
					line-height: 34px;

					small {
						color: #aaa;
						color: map-get($theme-colors, primary);
					}
				}

				h3 {
					font-size: 2em;
					color: rgba(255, 255, 255, .6);
					text-transform: uppercase;
					margin: 5px 0 0 0;
				}

				p {
					font-size: 1em;
					color: rgba(255, 255, 255, .6);
					line-height: 1.4em;
					margin: 5px 0 0 0;
				}
			}

			.actions {
				padding: 25px;
				background: #111;

				.btn {
					font-size: 1.4em;
				}

				p {
					margin-top: 7px;
					font-size: 1.1em;
					line-height: 1.4em;
					color: #aaa;
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		.tabs {
			.container {
				padding-left: 0;
				padding-right: 0;

				ul {
					li {
						width: 25%;
						overflow: hidden;

						a {
							padding: 25px 0;
							text-align: center;
							font-size: 1.5em;
						}
					}
				}
			}
		}

		.products {
			padding: 20px 0;
			margin-bottom: -20px;

			.product {
				margin-bottom: 20px;

				.actions {
					p {
						text-align: center;
						margin-top: 10px;
					}
				}
			}
		}
	}
}