.page-category {
	.hero {
		@include darken-image('https://images.unsplash.com/photo-1547825617-d1115120be4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80', .5, .4);
		background-attachment: fixed;
	}

	.products {
		padding: 50px 0;
		background: #eee;

		.product {
			display: block;
			min-height: 200px;
			background: #fff;
			border-radius: 10px;
			overflow: hidden;

			.info {
				padding: 20px;
				border-top: 1px solid #eee;

				h2 {
					@include clearfix;
					font-size: 2em;
					color: map-get($theme-colors, primary);
					font-weight: bold;
					text-transform: uppercase;

					span {
						display: inline-block;
						float: right;
						font-size: 0.7em;
						padding: 0 10px;
						background: #111;
						color: #fff;
						height: 23px;
						line-height: 23px;
						border-radius: 10px;
					}
				}

				p {
					font-size: 1.1em;
					color: #aaa;
					margin-top: 10px;
					line-height: 1.6em;
				}

				.btn {
					font-size: 1.4em;
					border-color: map-get($theme-colors, primary);
					background: map-get($theme-colors, primary);
					color: #fff;
					margin-top: 10px;
					padding: 8px;
					height: auto;

					&:hover {
						background: #fff;
						color: map-get($theme-colors, primary);
					}
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		.products {
			padding: 30px 0;
			margin-bottom: -30px;

			.product {
				margin-bottom: 30px;
			}
		}
	}
}