.page-deal {
	header.new.mini {
		width: 100%;
	}

	.deal-builder {
		padding-top: $header-height;

		header {
			border-bottom: 1px solid #eee;

			.info {
				padding: 80px 0;

				h2 {
					font-size: 4em;
					font-weight: 900;
					color: #fff;
					text-transform: uppercase;
					text-align: center;

					small {
						margin-left: 10px;
					}
				}

				h3 {
					font-size: 2.6em;
					line-height: 1em;
					text-transform: uppercase;
					text-align: center;
					color: rgba(255, 255, 255, .6);
					margin: 5px 0 0 0;
				}

				p {
					font-size: 1.3em;
					line-height: 1.4em;
					color: rgba(255, 255, 255, .6);
					margin: 5px auto 0 auto;
					text-align: center;
					max-width: 700px;
				}
			}

			.image {
				background: url('http://bagelbaby.test/images/products/tuna-and-sweetcorn.jpg') no-repeat center center;
				background-size: cover;
				height: 100%;
			}
		}

		.body {
			padding: 60px 0;
			background: #f1f1f1;

			.product {
				display: block;
				cursor: pointer;
				margin-bottom: 30px;

				img {
					border-radius: 10px;
				}

				h2 {
					font-size: 2em;
					text-transform: uppercase;
					font-weight: 900;
					color: #222;
					height: 34px;
					line-height: 34px;
					margin: 10px 0 0 0;

					small {
						color: #aaa;
						color: map-get($theme-colors, primary);
					}
				}

				h3 {
					font-size: 2em;
					color: #aaa;
					text-transform: uppercase;
					margin: 5px 0 0 0;
				}

				p {
					font-size: 1em;
					color: #aaa;
					line-height: 1.5em;
					margin: 5px 0 0 0;
					text-align: justify;
				}

				.btn {
					font-size: 1.4em;
					height: auto;
					border-color: map-get($theme-colors, primary);
					color: map-get($theme-colors, primary);
					margin-top: 15px;
					padding: 10px;

					&:hover {
						background: none;
						color: #222;
						border-color: #222;
					}
				}
			}

			.product-selector {
				> h2 {
					font-size: 3em;
					text-transform: uppercase;
					font-weight: 900;
					color: #222;
					margin: 0 0 30px 0;
				}
			}

			.deal-row {
				margin-bottom: 40px;

				h2 {
					font-size: 3em;
					font-weight: 900;
					text-transform: uppercase;
					margin-bottom: 20px;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.option-selections {
				.option-selector {
					display: block;
					padding: 70px 40px;
					border: 6px dashed #ddd;
					text-align: center;

					span {
						font-size: 4em;
						color: #aaa;
					}

					h2 {
						font-size: 2em;
						font-weight: 900;
						text-transform: uppercase;
						color: #222;
						margin: 20px 0 0 0;
					}

					p {
						font-size: 1.1em;
						color: #aaa;
						line-height: 1.4em;
						margin: 10px 0 0 0;
					}

					&:hover {
						background: map-get($theme-colors, primary);
						border-color: map-get($theme-colors, primary);

						span, h2 {
							color: #fff;
						}

						p {
							color: rgba(255, 255, 255, .6);
						}
					}
				}

				.option-selected {
					display: block;
					padding: 0 40px;
					background: map-get($theme-colors, primary);
					position: relative;

					.info {
						display: block;
						position: absolute;
						width: 100%;
						top: 50%;
						left: 0;
						margin-top: -26.5px;

						h2 {
							font-size: 3em;
							font-weight: 900;
							text-transform: uppercase;
							color: #fff;
							text-align: center;
						}

						p {
							font-size: 1.3em;
							color: rgba(255, 255, 255, .6);
							text-align: center;
							margin: 5px 0 0 0;
						}
					}
				}
			}

			.card {
				border: 1px solid rgba(0, 0, 0, 0.125);
				margin-bottom: 10px;

				.card-header {
					padding: 0;

					.btn-link {
						display: block;
						width: 100%;
						text-align: left;
						border: none;
						background: none;
						padding: 0;
						color: #222;
						font-weight: 900;
						font-size: 3em;
						height: 70px;
						line-height: 70px;
						padding: 0 30px;
						text-decoration: none;
						background: #fff;

						span {
							height: 70px;
							line-height: 70px;
							font-size: 0.6em;
							color: map-get($theme-colors, primary);
						}

						&:hover {
							background: rgba(0, 0, 0, 0.02);
						}
					}
				}

				.card-body {
					padding: 30px 30px 0 30px;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.add-to-cart, .add-deal {
				margin: 30px 0 0 0;

				.btn {
					border: none;
					background: map-get($theme-colors, primary);
					color: #fff;
					margin: 0;

					&:hover {
						background: #222;
					}
				}
			}

			.add-to-cart {
				margin-top: 10px;
			}
		}
	}

	.quantity-selector {
		h2 {
			font-size: 3em;
			line-height: 1em;
			font-weight: 900;
			text-transform: uppercase;
			text-align: center;
		}

		p {
			font-size: 1.4em;
			line-height: 1.4em;
			color: #aaa;
			text-align: center;
			margin: 10px 0 0 0;
		}

		.quantity {
			display: block;
			position: relative;
			margin: 30px 0 0 0;

			span {
				position: absolute;
				top: 0;
				left: 0;
				height: 66px;
				line-height: 66px;
				padding: 0 25px;
				font-size: 1em;
				color: map-get($theme-colors, primary);

				&.fa-plus {
					left: auto;
					right: 0;
				}

				&:hover {
					color: #222;
				}
			}

			input {
				display: block;
				width: 100%;
				height: 66px;
				background: none;
				border: none;
				box-shadow: none;
				text-align: center;
				border: 1px solid #ddd;
				font-size: 1.4em;
				background: #fff;
				border-right: none;
				// font-weight: 900;
			}
		}

		.btn {
			margin: 30px 0 0 0;
			border: none;
			color: #fff;
			background: map-get($theme-colors, primary);
			padding: 0 20px;
			height: 66px;
			line-height: 66px;
		}
	}

	@media screen and (max-width: 600px) {
		.deal-builder {
			header {
				.info {
					padding: 40px 0 !important;
				}
			}

			.body {
				.option-selections > div {
					.option-selector {
						margin-bottom: 20px;
					}

					&:last-of-type {
						.option-selector {
							margin-bottom: 0;
						}
					}
				}

				.add-deal {
					margin-top: 0;
				}

				.product-selector {
					h2 {
						a {
							display: block;
							float: none !important;
							margin-top: 5px;
						}
					}

					> .row {
						display: block;
						margin: 0;
						width: 100%;
					}
				}
			}
		}
	}
}