.page-generic {
	.hero {
		@include darken-image('https://images.unsplash.com/photo-1547825617-d1115120be4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80', .5, .4);
		background-attachment: fixed;
	}

	.page-content {
		padding: 100px 0;
		background: #fff;

		h2 {
			font-size: 4em;
			text-transform: uppercase;
			font-weight: 900;

			small {
				color: #aaa;
			}
		}
	}
}