.page-home-redesign {
	background: #fff;

	header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		height: 100px;
		display: none;

		.container {position: relative;}

		ul {
			@include reset-bounds;
			display: block;
			list-style: none;
			text-align: right;

			li {
				display: inline-block;

				a {
					display: block;
					color: rgba(255, 255, 255, .6);
					font-size: 1.5em;
					height: 100px;
					line-height: 100px;
					margin-left: 40px;
					text-transform: uppercase;
					letter-spacing: 1px;
				}

				&.active {
					a {
						color: #fff;
					}
				}
			}
		}
	}

	.header-hero {
		padding: 200px 0 120px 0;
		background: linear-gradient(45deg, rgba(65,105,131,1) 0%, rgba(32,139,211,1) 100%);

		.container {position: relative;}

		.logo {
			display: none;
			position: absolute;
			top: -120px;
			left: 0;
			width: 90px;
		}

		.row {
			margin: 0;
			> div {padding: 0;}
		}

		h2 {
			font-size: 8em;
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

			span {
				display: block;
			}
		}

		h3 {
			font-size: 3.1em;
			color: rgba(255, 255, 255, .6);
			text-transform: uppercase;
			font-weight: 300;
		}

		p {
			font-size: 1.2em;
			line-height: 1.4em;
			color: rgba(255, 255, 255, .6);
			max-width: 400px;
			margin-top: 10px;
			text-align: justify;
		}

		a {
			display: inline-block;
			padding: 12px 30px;
			background: #fff;
			color: map-get($theme-colors, primary);
			border-radius: 20px;
			font-size: 1.2em;
			margin: 10px 0 0 0;
			font-weight: bold;
			transition: all .2s;
			text-transform: uppercase;
			box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);

			&:hover {
				background: map-get($theme-colors, primary);
				color: #fff;
			}
		}
	}

	.menu {
		.smart-menu {
			.tabs {
				li {
					a {
						transition: color .2s;

						&:hover {
							background: none;
							color: #000;
							border-bottom: 4px solid #ddd;
						}
					}

					&.active {
						a {
							background: none;
							color: #000;
							border-bottom: 4px solid map-get($theme-colors, primary);
						}
					}
				}
			}

			.products {
				height: auto;
				text-align: left;

				.new-product {
					width: 290px;
				}
			}
		}
	}

	.deals {
		padding: 10px 0;
		background: #eee;

		.row {
			margin: 0;

			> div {padding: 0;}
		}

		img {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}