.page-home {
	.hero {
		@include darken-image('https://images.unsplash.com/photo-1547825617-d1115120be4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80', .5, .4);
		background-attachment: fixed;

		background: #fff;
		height: auto;
		padding: 100px 0 70px 0;
		border-bottom: 1px solid #ddd;

		.caption {
			position: static;
			margin: 0;
			height: auto;
		}

		.btn {
			border-color: map-get($theme-colors, primary);
			color: map-get($theme-colors, primary);
			margin-top: -115px;
			position: relative;
			z-index: 9999;
			background: #fff;

			&:hover {
				background: map-get($theme-colors, primary);
				color: #fff;
			}
		}
	}

	.blocks {
		padding: 30px 0;
		background: #eee;

		.block {
			display: block;
			background: #aaa;
			margin-bottom: 30px;

			&.block-one {
				min-height: 200px;
			}

			&.block-two {
				min-height: 430px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.products {
		padding: 50px 0;
		background: #111;

		.product {
			display: block;
			min-height: 200px;
			background: #fff;
			border-radius: 10px;
			overflow: hidden;

			.info {
				padding: 20px;
				border-top: 1px solid #eee;

				h2 {
					@include clearfix;
					font-size: 2em;
					color: map-get($theme-colors, primary);
					font-weight: bold;
					text-transform: uppercase;

					span {
						display: inline-block;
						float: right;
						font-size: 0.7em;
						padding: 0 10px;
						background: #111;
						color: #fff;
						height: 23px;
						line-height: 23px;
						border-radius: 10px;
					}
				}

				p {
					font-size: 1.1em;
					color: #aaa;
					margin-top: 10px;
					line-height: 1.2em;
				}

				.btn {
					font-size: 1.4em;
					border-color: map-get($theme-colors, primary);
					background: map-get($theme-colors, primary);
					color: #fff;
					margin-top: 10px;
					padding: 8px;
					height: auto;

					&:hover {
						background: #fff;
						color: map-get($theme-colors, primary);
					}
				}
			}
		}
	}

	.featured-product {
		padding: 100px 0;
		background: #6fad25;
		@include darken-image('https://images.unsplash.com/photo-1471102204080-fe99e6db4ef0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80', .7, .7);
		background-attachment: fixed;

		h2 {
			font-size: 4.8em;
			color: rgba(255, 255, 255, .5);
			font-weight: 100;
			text-transform: uppercase;
			margin-top: 10px;
		}

		h3 {
			font-size: 8em;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
		}

		p {
			font-size: 1.4em;
			color: rgba(255, 255, 255, .5);
			line-height: 1.4em;
		}

		.btn {
			width: 240px;
			margin-top: 20px;
		}

		img {
			width: 100%;
		}

		&.alt {
			@include darken-image('https://images.unsplash.com/photo-1525539945450-1fd611e8caf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', .7, .7);
			background-attachment: fixed;

			h2, h3, p {
				text-align: right;
				margin: 0;
			}

			.btn {
				float: right;
			}

			img {
				margin-top: 20px;
			}
		}
	}

	@media screen and (max-width: 600px) {
		.hero {
			padding: 70px 0 30px 0;

			img {
				width: 100% !important;
			}
		}

		.blocks {
			padding: 20px 0;
			margin-bottom: -15px;

			.block {
				margin-bottom: 15px !important;
				min-height: auto !important;

				img {
					width: 100%;
				}
			}
		}

		.products {
			padding: 20px 0;
			margin-bottom: -20px;

			.product {
				margin-bottom: 20px;
			}
		}

		.featured-product {
			padding: 20px 0;

			h2 {
				font-size: 3em;
				text-align: center !important;
			}

			h3 {
				font-size: 5em;
				margin-top: 10px !important;
				text-align: center !important;
			}

			p {
				margin-top: 10px !important;
				text-align: justify !important;
			}

			.btn {
				width: 100%;
			}

			img {
				margin-top: 40px;
			}

			&.alt {
				img {
					margin: 0 0 30px 0;
				}
			}
		}
	}
}