.page-location {
	.hero {
		@include darken-image('https://images.unsplash.com/photo-1547825617-d1115120be4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80', .5, .4);
		background-attachment: fixed;
		height: auto;
		padding: 100px 0;

		.caption {
			position: static;
			margin: 0;
			height: auto;

			.search-bar {
				@include clearfix;
				display: block;
				width: 550px;
				margin: 30px auto 0 auto;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);

				.icon, input, .button {
					display: inline-block;
					float: left;
				}

				.icon {
					height: 57px;
					padding: 0 0 0 20px;
					background: #fff;
					width: 35px;

					span {
						height: 57px;
						line-height: 57px;
						color: map-get($theme-colors, primary);
					}
				}

				input[type="text"] {
					@include placeholder(#aaa);
					height: auto;
					padding: 15px;
					background: #fff;
					border: none;
					font-size: 1.2em;
					color: #222;
					width: calc(100% - 155px);
				}

				.button {
					input {
						border: none;
						box-shadow: none;
						display: block;
						width: 120px;
						height: 57px;
						line-height: 57px;
						font-size: 1.3em;
						color: #fff;
						background: map-get($theme-colors, primary);
						text-align: center;
						text-transform: uppercase;
						font-weight: 900;
						transition: all .5s;

						&:hover {
							background: #222;
						}
					}
				}
			}
		}
	}

	#map {
		display: block;
		min-height: 600px;
	}
}