.page-menu {
	.menu-content {
		display: block;
		position: fixed;
		left: 0;
		top: $header-height;
		width: calc(100% - 350px);
		height: calc(100% - 60px);
	}

	@media screen and (max-width: 600px) {
		.smart-cart {
			right: -350px;
		}

		.menu-content {
			width: 100%;

			.smart-menu {
				.tabs {
					li {
						width: 25%;

						a {
							padding: 0;
							text-align: center;
							font-size: 1.2em;
						}
					}
				}
			}
		}
	}
}