.page-new-home {
	padding-top: $header-height;
	background: #f1f1f1;
	
	.hero {
		@include darken-image('https://www.pizzahut.co.uk/order/images/backgrounds/home/promo/home-bg-lg.ecc9c0968ad6c126bad9f49ad94abdc9.jpg', 0, .4);
		background-size: 200%;
		background-position: center $header-height;
		background-attachment: fixed;
		height: 400px;
		padding: 0;

		.container {position: relative; height: 100%;}

		img {
			position: absolute;
			left: 50%;
			bottom: 30px;
			width: auto;
			height: 350px;
			margin-left: -225px;
		}

		.postcode {
			display: block;
			position: absolute;
			bottom: -40px;
			left: 0;
			width: 100%;

			.postcode-inner {
				@include clearfix;
				width: 500px;
				height: 80px;
				padding: 15px;
				background: #fff;
				margin: 0 auto;
				box-shadow: 0 0 3px 3px rgba(0, 0, 0, .05);

				form {
					display: block;
					width: 100%;
					height: 100%;
				}

				input[type=text] {
					@include placeholder(#aaa);
					display: inline-block;
					float: left;
					width: 61%;
					height: 100%;
					background: none;
					box-shadow: none;
					border: 1px solid #ddd;
					border-radius: 5px 0 0 5px;
					padding: 0 15px;
					font-size: 1.1em;
				}

				input[type=submit] {
					display: inline-block;
					float: left;
					width: 39%;
					height: 100%;
					background: map-get($theme-colors, primary);
					border: 1px solid darken(map-get($theme-colors, primary), 10%);
					border-left: none;
					box-shadow: none;
					border-radius: 0 5px 5px 0;
					color: #fff;
					font-size: 1.2em;
					font-weight: 800;
					text-transform: uppercase;
					transition: all .3s;

					&:hover {
						background: #222;
						border-color: #000;
					}
				}
			}
		}
	}

	.popular {
		padding: 90px 0 70px 0;

		.container {
			> h2 {
				text-align: center;
				font-size: 3em;
				text-transform: uppercase;
				font-weight: 900;
				margin-bottom: 50px;
			}

			.product {
				display: block;
				background: #222;
				border-radius: 10px;
				overflow: hidden;

				.image {
					height: 300px;
				}

				.info {
					padding: 25px;

					h2 {
						font-size: 3em;
						text-transform: uppercase;
						font-weight: 900;
						color: #fff;
						height: 34px;
						line-height: 34px;

						small {
							color: #aaa;
							color: map-get($theme-colors, primary);
						}
					}

					h3 {
						font-size: 2em;
						color: rgba(255, 255, 255, .6);
						text-transform: uppercase;
						margin: 5px 0 0 0;
					}

					p {
						font-size: 1em;
						color: rgba(255, 255, 255, .6);
						line-height: 1.4em;
						margin: 5px 0 0 0;
					}
				}

				.actions {
					padding: 25px;
					background: #111;

					.btn {
						font-size: 1.4em;
					}

					p {
						margin-top: 7px;
						font-size: 1.1em;
						line-height: 1.4em;
						color: #aaa;
					}
				}
			}

			// .new-product {
			// 	display: block;
			// 	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
			// 	overflow: hidden;
				
			// 	.top {
			// 		padding: 20px;
			// 		background-size: cover !important;

			// 		h2 {
			// 			font-size: 3em;
			// 			text-transform: uppercase;
			// 			font-weight: 900;
			// 			color: #fff;
			// 			line-height: 0.9em;

			// 			small {
			// 				color: #fff;
			// 			}
			// 		}

			// 		h3 {
			// 			font-size: 2em;
			// 			color: rgba(255, 255, 255, .6);
			// 			text-transform: uppercase;
			// 			margin: 5px 0 0 0;
			// 		}

			// 		p {
			// 			font-size: 1.1em;
			// 			color: rgba(255, 255, 255, .6);
			// 			line-height: 1.4em;
			// 			margin: 5px 0 0 0;
			// 			text-align: justify;
			// 		}

			// 		.btn {
			// 			font-size: 1.4em;
			// 			height: auto;
			// 			border-color: map-get($theme-colors, primary);
			// 			color: map-get($theme-colors, primary);
			// 			margin-top: 15px;
			// 			padding: 10px;

			// 			&:hover {
			// 				background: none;
			// 				color: #222;
			// 				border-color: #222;
			// 			}
			// 		}
			// 	}

			// 	.bottom {
			// 		padding: 20px;
			// 		background: #fff;

			// 		a {
			// 			display: block;
			// 			padding: 0 10px;
			// 			text-align: center;
			// 			color: #fff;
			// 			background: map-get($theme-colors, primary);
			// 			text-transform: uppercase;
			// 			font-weight: 100;
			// 			letter-spacing: 2px;
			// 			font-size: 1.1em;
			// 			height: 47px;
			// 			line-height: 47px;
			// 			margin-top: 10px;
			// 			transition: all .3s;

			// 			&:hover {
			// 				background: #222;
			// 				color: #fff;
			// 			}

			// 			&.alt {
			// 				background: #222;
			// 				color: #fff;

			// 				&:hover {
			// 					background: map-get($theme-colors, primary);
			// 				}
			// 			}

			// 			span {
			// 				margin-right: 3px;
			// 			}
			// 		}

			// 		.quantity {
			// 			display: block;
			// 			position: relative;

			// 			span {
			// 				position: absolute;
			// 				top: 0;
			// 				left: 0;
			// 				height: 47px;
			// 				line-height: 47px;
			// 				padding: 0 15px;
			// 				font-size: 0.9em;
			// 				color: map-get($theme-colors, primary);

			// 				&.fa-plus {
			// 					left: auto;
			// 					right: 0;
			// 				}

			// 				&:hover {
			// 					color: #222;
			// 				}
			// 			}

			// 			input {
			// 				display: block;
			// 				width: 100%;
			// 				height: 47px;
			// 				background: none;
			// 				border: none;
			// 				box-shadow: none;
			// 				text-align: center;
			// 				border: 1px solid #ddd;
			// 				border-right: none;
			// 				font-size: 1.2em;
			// 				// font-weight: 900;
			// 			}
			// 		}
			// 	}

			// 	// &:hover {
			// 	// 	opacity: 0.8;
			// 	// }
			// }

			.new-product {
				display: block;
				// margin-bottom: 30px;
				overflow: hidden;
				// padding: 0 10px;
				
				.top {
					h2 {
						font-size: 3em;
						text-transform: uppercase;
						font-weight: 900;
						color: #222;
						line-height: 0.9em;
						margin: 20px 0 0 0;

						small {
							color: #aaa;
						}
					}

					h3 {
						font-size: 2em;
						color: #444;
						text-transform: uppercase;
						margin: 5px 0 0 0;
					}

					p {
						font-size: 1.1em;
						color: #aaa;
						line-height: 1.4em;
						margin: 5px 0 0 0;
						text-align: justify;
					}

					.btn {
						font-size: 1.4em;
						height: auto;
						border-color: map-get($theme-colors, primary);
						color: map-get($theme-colors, primary);
						margin-top: 15px;
						padding: 10px;

						&:hover {
							background: none;
							color: #222;
							border-color: #222;
						}
					}
				}

				.bottom {
					margin: 20px 0 0 0;

					a {
						display: block;
						padding: 0 10px;
						text-align: center;
						color: #fff;
						background: map-get($theme-colors, primary);
						text-transform: uppercase;
						font-weight: 100;
						letter-spacing: 2px;
						font-size: 1.1em;
						height: 47px;
						line-height: 47px;
						margin-top: 10px;
						transition: all .3s;

						&:hover {
							background: #222;
							color: #fff;
						}

						&.alt {
							background: #222;
							color: #fff;

							&:hover {
								background: map-get($theme-colors, primary);
							}
						}

						span {
							margin-right: 3px;
						}
					}

					.quantity {
						display: block;
						position: relative;

						span {
							position: absolute;
							top: 0;
							left: 0;
							height: 47px;
							line-height: 47px;
							padding: 0 15px;
							font-size: 0.9em;
							color: map-get($theme-colors, primary);

							&.fa-plus {
								left: auto;
								right: 0;
							}

							&:hover {
								color: #222;
							}
						}

						input {
							display: block;
							width: 100%;
							height: 47px;
							background: none;
							border: none;
							box-shadow: none;
							text-align: center;
							border: 1px solid #ddd;
							border-right: none;
							font-size: 1.2em;
							// font-weight: 900;
						}
					}
				}

				// &:hover {
				// 	opacity: 0.8;
				// }
			}

			.btn {
				margin: 20px 0 0 0;
				border-color: map-get($theme-colors, primary);
				color: map-get($theme-colors, primary);

				&:hover {
					background: none;
					border-color: #222;
					color: #222;
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		.hero {
			height: auto;
			padding: 50px 0 0 0;
			background-size: cover;
			overflow: hidden;

			img {
				display: block;
				position: static;
				margin: 0 auto -5px auto;
				height: auto;
				width: 80%;
				position: relative;
				top: auto;
				left: auto;
				bottom: -5px;
			}

			.postcode {
				display: none;
			}
		}

		.popular {
			padding: 30px 0;

			.container {
				padding-left: 30px;
				padding-right: 30px;

				> h2 {
					margin-bottom: 30px !important;
				}
			}

			h2 {
				font-size: 2.6em !important;
			}

			.new-product {
				margin-bottom: 30px;
			}

			.btn {
				margin: 0 !important;
			}
		}
	}
}