.page-product {
	.hero {
		@include darken-image('https://images.unsplash.com/photo-1514460154823-73e3f57f72d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', .3, .3);
		background-attachment: fixed;
		height: 400px;
		padding-top: 70px;

		h2 {
			margin: 0;
		}

		h3 {
			font-size: 2em;
			margin-top: 5px;

			strong {
				font-weight: 900;
			}
		}

		.image {
			position: absolute;
			left: 50%;
			margin-left: -150px;
			bottom: -100px;
			display: block;
			width: 300px;
			height: 300px;
			border-radius: 100%;
			overflow: hidden;
			border: 7px solid #fff;
			box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);

			img {
				display: block;
				height: 100%;
			}

			.owl-dots {
				position: absolute;
				bottom: 20px;
				width: 100%;
				text-align: center;

				.owl-dot {
					display: inline-block;
					width: 12px;
					height: 12px;
					border-radius: 100%;
					background: rgba(0, 0, 0, .2);
					margin: 0 5px;

					&.active {
						background: rgba(0, 0, 0, .6);
					}
				}
			}
		}
	}

	.info {
		padding: 40px 0;

		h2 {
			font-size: 4em;
			font-weight: bold;
			text-transform: uppercase;
			color: #222;
		}

		p {
			font-size: 1.1em;
			color: #aaa;
			// text-align: justify;
			line-height: 1.6em;
			margin: 10px 0 0 0;
		}

		.image-list {
			margin-bottom: -20px;

			img {
				margin-bottom: 20px;
			}
		}

		.btn-primary {
			border-color: map-get($theme-colors, primary);
			color: map-get($theme-colors, primary);

			&:hover {
				background: map-get($theme-colors, primary);
				color: #fff;
			}
		}

		.add-to-cart {
			margin-top: 20px;
			
			h2 {
				height: 78px;
				line-height: 78px;
				font-size: 2.4em;
				color: #222;
			}
		}
	}
}