html.soon, html.soon body {
	height: 100%;

	.coming-soon {
		min-height: 100%;
		background: linear-gradient(45deg, rgba(65,105,131,1) 0%, rgba(32,139,211,1) 100%);
		padding: 80px 0 0 0;

		img {
			display: block;
			max-width: 350px;
			margin: 0 auto;

			&:last-of-type {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		h2 {
			font-size: 8em;
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
			text-align: center;
			margin: 50px 0 0 0;

			span {
				display: block;
			}
		}

		h3 {
			font-size: 6.6em;
			color: rgba(255, 255, 255, .6);
			text-transform: uppercase;
			font-weight: 300;
			text-align: center;
		}

		p {
			font-size: 1.2em;
			line-height: 1.4em;
			color: rgba(255, 255, 255, .6);
			max-width: 400px;
			margin-top: 10px;
			text-align: justify;
		}
	}
}