html, body, #app {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 10px;
    
    .row {
        &.condensed {
            margin-left: 0;
            margin-right: 0;

            > div {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.smaller {
            margin-left: -5px;
            margin-right: -5px;

            > div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    a {
        text-decoration: none;

        &:focus, &:hover, &:active, &:visited {
            text-decoration: none !important;
        }
    }

    * {
        -webkit-appearance: none;
        outline: none;
    }

    *:not(input):not(textarea) {
        -webkit-touch-callout: none;
        -webkit-user-select: none
    }

    h1, h2, h3, h4, h5, h6, p, ul {
        @include reset-bounds;
        font-size: 10px;
        line-height: 0.8em;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'DinCondensed';
    }

    .hidden {
        display: none !important;
    }

    @media screen and (max-width: 600px) {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

html.admin {
    height: 100%;
    overflow-y: hidden;

    body {
        height: 100%;
        background: #eee;

        > .container {
            height: 100%;

            > .row {
                height: 100%;

                > div {
                    height: 100%;
                }
            }
        }
    }
}