@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

@font-face {
    font-family: 'DinCondensed';
    src: url('/fonts/dincondensed.woff2') format('woff2'),
         url('/fonts/dincondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinCondensed';
    src: url('/fonts/dincondensedbold.woff2') format('woff2'),
         url('/fonts/dincondensedbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}