@mixin darken-image($image, $gradient1, $gradient2) {
    background: linear-gradient(rgba(0, 0, 0, $gradient1), rgba(0, 0, 0, $gradient2)), url($image) no-repeat center center;
    background-size: cover;
}

@mixin reset-bounds() {
	margin: 0;
	padding: 0;
}

@mixin placeholder($colour) {
	&::placeholder {
	    color: $colour;
	    opacity: 1;
	}

	&:-ms-input-placeholder {
	    color: $colour;
	}

	&::-ms-input-placeholder {
	    color: $colour;
	}
}