.btn {
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: none;
	border: 6px solid #fff;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
	font-size: 2em;
	padding: 10px;
	font-family: 'DinCondensed';
	box-shadow: none;

	strong {
		font-weight: 800;
	}

	&.btn-default {
		&:hover {
			background: none;
			border-color: map-get($theme-colors, primary);
			color: map-get($theme-colors, primary);
		}
	}

	&:active, &:focus, &:visited {
		box-shadow: none;
	}
}