footer {
	padding: 40px 0 0 0;
	background: #111;

	.logo {
		display: block;
		height: 200px;
		float: right;
	}

	h2 {
		font-size: 4em;
		text-transform: uppercase;
		font-weight: 900;
		color: #fff;
		text-align: left;
		margin-top: 65px;
	}

	h3 {
		font-size: 2em;
		text-transform: uppercase;
		color: #aaa;
		text-align: left;
	}
}

.post-footer {
	padding: 30px 0;
	background: #000;

	p {
		font-size: 1em;
		color: #aaa;
	}

	ul {
		@include clearfix;
		list-style: none;
		font-size: 1em;

		li {
			display: inline-block;
			float: right;

			a {
				color: #fff;
				padding: 0 30px;
				transition: all .5s;

				&:hover {
					color: map-get($theme-colors, primary);
				}
			}

			&:last-of-type {
				a {
					padding-right: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	footer {
		padding: 40px 0;

		.logo {
			display: none;
		}

		h2, h3 {
			text-align: center;
			margin: 0;
		}
	}

	.post-footer {
		p {
			text-align: center;
			font-size: 1.1em;
		}

		ul {
			display: none;
		}
	}
}