header.main {
	display: block;
	padding: 20px 0;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);

	.container {
		position: relative;
	}

	.logo {
		font-size: 2.6em;
		font-weight: bold;
		text-transform: uppercase;

		a {
			@include clearfix;
			display: block;
			color: map-get($theme-colors, primary);
			transition: color 0.7s;

			img {
				display: inline-block;
				float: left;
				height: 40px;
			}

			p {
				display: inline-block;
				float: left;
				font-size: 1em;
				height: 40px;
				line-height: 40px;
				padding-left: 10px;
			}

			&:hover {
				color: map-get($theme-colors, primary);
			}
		}
	}

	ul.navigation {
		@include reset-bounds;
		@include clearfix;
		display: block;
		text-align: right;

		li {
			display: inline-block;

			a {
				display: block;
				padding: 0 25px;
				font-size: 1.5em;
				text-transform: uppercase;
				font-weight: 900;
				color: rgba(0, 0, 0, .4);
				height: 40px;
				line-height: 40px;
				transition: color .3s;
				position: relative;

				&:hover {
					color: #000;
				}

				.badge {
					$height: 25px;
					position: absolute;
					top: -2px;
					right: -15px;
					padding: 0;
					width: $height;
					height: $height;
					line-height: $height;
					text-align: center;
					background: map-get($theme-colors, primary);
					border-radius: 100%;
					color: #fff;
					text-indent: 2px;
				}
			}

			&.active {
				a {
					color: #000;
				}
			}

			&:last-of-type {
				a {
					padding-right: 0;
				}
			}
		}

		.close-mobile-menu {
			display: none;
		}
	}

	.open-mobile-menu {
		position: absolute;
		top: 0;
		left: 30px;
		color: #fff;
		height: 20px;
		line-height: 20px;
		font-size: 1.3em;
		display: none;
	}

	&.visible {
		background: rgba(0, 0, 0, .7);
	}

	&.fixed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		background: none;

		.open-mobile-menu {
			color: #111 !important;
		}

		ul.navigation {
			li {
				a {
					color: rgba(0, 0, 0, .4);
					
					&:hover {
						color: #222;
					}
				}

				&.active {
					a {
						color: #111;
					}
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		ul.navigation {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: #111;
			z-index: 99999;
			padding: 30px 40px;

			li {
				display: block;
				float: none;

				a {
					display: block;
					padding: 15px 0;
					text-align: left;
					font-size: 3em;
					color: rgba(255, 255, 255, .4) !important;
					height: auto;
					line-height: 1em;

					> div {
						display: none;
					}
				}

				&.active {
					a {
						color: #fff !important;
					}
				}

				&:first-of-type {
					a {
						padding-top: 0;
					}
				}
			}

			.close-mobile-menu {
				position: absolute;
				display: block;
				top: 25px;
				right: 40px;
				font-size: 3em;
				color: #aaa;
			}
		}

		.logo {
			a {
				max-width: 200px;
				margin: 0 auto;
				
				img {
					display: none;
				}

				p {
					float: none;
					display: block;
					text-align: center;
					height: 20px;
					line-height: 20px;
				}
			}
		}

		.open-mobile-menu {
			display: block;
		}
	}
}

header.new {
	height: $header-height;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;

	.logo {
		font-size: 2.2em;
		font-weight: bold;
		text-transform: uppercase;

		a {
			@include clearfix;
			display: block;
			color: #333;
			transition: color 0.7s;
			height: $header-height;
			line-height: $header-height;

			img {
				display: inline-block;
				float: left;
				height: 40px;
				margin-top: ($header-height - 40px) / 2;
			}

			p {
				display: inline-block;
				float: left;
				font-size: 1em;
				height: $header-height;
				line-height: $header-height;
				padding-left: 10px;
			}
		}
	}

	ul {
		display: block;
		list-style: none;
		text-align: right;

		li {
			display: inline-block;

			a {
				display: block;
				height: $header-height;
				line-height: $header-height;
				font-size: 1.6em;
				margin-left: 40px;
				text-transform: uppercase;
				color: #aaa;
				font-family: 'Open Sans';
				font-weight: 900;
				transition: color .5s;

				&:hover {
					color: #444;
				}
			}

			&:first-of-type {
				a {
					margin-left: 0;
				}
			}

			&.active {
				a {
					color: #111;
				}
			}
		}
	}

	.tabs {
		display: block;

		.close-mobile-menu {
			display: none;
		}

		ul {
			@include clearfix;
			display: block;
			list-style: none;
			text-align: right;

			li {
				display: inline-block;

				a {
					display: block;
					padding: 0 25px;
					font-size: 1.4em;
					text-transform: uppercase;
					font-weight: 300;
					letter-spacing: 2px;
					color: #aaa;
					height: 60px;
					line-height: 60px;
					margin: 0;
					transition: all .3s;

					&:hover {
						background: #eee;
					}
				}

				&.active {
					a {
						background: map-get($theme-colors, primary);
						color: #fff;
					}
				}

				&.shopping-basket {
					display: none;

					.badge {
						display: block;
						position: absolute;
						top: 10px;
						right: 20px;
						border-radius: 100%;
						width: 23px;
						height: 23px;
						line-height: 23px;
						text-align: center;
						background: map-get($theme-colors, primary);
						color: #fff;
						padding: 0;
						font-size: 0.9em;
						letter-spacing: 0;
					}
				}
			}
		}
	}

	.mobile-menu, .mobile-cart {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
		line-height: 60px;
		padding: 0 20px;
		font-size: 1.4em;
	}

	.mobile-cart {
		left: auto;
		right: 0;
	}

	&.mini {
		width: calc(100% - 350px);
		box-shadow: none;
		border-bottom: 1px solid #eee;

		.logo {
			padding-left: 20px;
		}

		.container {
			width: 100%;
			max-width: 100%;
			padding: 0;
		}
	}

	&.no-pad {
		padding-right: 0;
	}

	@media screen and (max-width: 600px) {
		.tabs {
			position: fixed;
			width: 100%;
			height: 100%;
			z-index: 999;
			background: #000;
			top: 0;
			left: -100%;

			ul {
				padding: 50px;

				li {
					display: block;
					float: none;

					a {
						text-align: left;
						font-size: 1.8em;
					}
				}
			}

			.close-mobile-menu {
				display: block;
				position: absolute;
				right: 20px;
				top: 10px;
				font-size: 2em;
				color: #aaa;
			}

			.shopping-basket {
				display: none !important;
			}
		}

		&.mini {
			width: 100%;
		}

		.logo {
			a {
				text-align: center;

				img, p {
					float: none;
				}

				img {
					display: none;
				}
			}
		}

		.mobile-menu, .mobile-cart {
			display: block;
		}

		.mobile-cart {
			> div {
				display: inline-block;
			}
		}
	}
}