.hero {
	padding: 100px 0;
	position: relative;
	z-index: 1;

	.caption {
		// position: absolute;
		// top: 50%;
		// left: 0;
		// margin-top: -105px; margin-top: -190px;
		width: 100%;
		padding: 0 30px;
		// height: 396px;

		.logo {
			display: block;
			width: 400px;
			margin: 0 auto;
		}
	}

	h2, h3 {
		text-align: center;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	}

	h2 {
		// margin-top: -15px;
		font-size: 7em;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
	}

	h3 {
		font-size: 2em;
		line-height: 1.4em;
		font-weight: 100;
		font-family: 'Open Sans';
		color: rgba(255, 255, 255, .6);
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	.btn {
		width: 280px;
		margin: 30px auto 0 auto;
	}

	@media screen and (max-width: 600px) {
		padding: 50px 0;
		
		h2 {
			font-size: 5em;
		}

		h3 {
			font-size: 1.6em;
			margin-top: 5px;
			font-weight: 400;
		}
	}
}