.loader {
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px auto;
}

.loader:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid map-get($theme-colors, primary);
    border-color: map-get($theme-colors, primary) transparent map-get($theme-colors, primary) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}