.logo-animation-sprite {
	background-image: url('/images/logo-animation-spritesheet.png');
  	width: 550px;
  	height: 550px;
  	background-size: cover;
  	animation: anim 2s steps(24) paused;
  	margin: 0 auto;
}

@keyframes anim {
	100% {background-position: -13200px;}
}