.modal-product {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	z-index: 999999;
	top: 0;
	left: 0;
	padding: 50px;
	overflow-y: scroll;
	display: none;

	.modal-product-wrapper {
		display: block;
		background: #fff;
		width: 600px;
		margin: 0 auto;

		// .row {
		// 	height: 100%;

		// 	> div {
		// 		height: 100%;
		// 	}
		// }

		.image {
			@include darken-image('http://bagelbaby.test/images/products/egg-and-bacon.jpg', .5, .5);
			background-size: cover;
			padding: 40px;

			h2 {
				font-size: 3em;
				color: #fff;
				font-weight: 900;
				text-transform: uppercase;
			}

			p {
				font-size: 1.1em;
				line-height: 1.4em;
				color: rgba(255, 255, 255, .6);
				margin: 10px 0 0 0;
			}
		}

		.info {
			overflow-x: hidden;

			header {
				padding: 30px;
				background: #fff;

				h2 {
					font-size: 3em;
					color: #222;
					font-weight: 900;
					text-transform: uppercase;

					small {
						color: map-get($theme-colors, primary);
					}
				}

				p {
					font-size: 1.1em;
					line-height: 1.4em;
					color: #aaa;
					margin: 10px 0 0 0;
				}
			}

			footer {
				padding: 30px;
				background: #fff;

				.btn {
					border: none;
					background: map-get($theme-colors, primary);
					padding: 15px;
					font-size: 1.6em;
					color: #fff;

					&:hover {
						background: #222;
					}
				}
			}

			.product-information {
				background: #f1f1f1;
				padding: 30px;

				p {
					font-size: 1.1em;
					line-height: 1.6em;
					color: #888;
					margin: 15px 0 0 0;

					&:first-of-type {
						margin: 0;
					}
				}
			}
		}

		.body {
			background: #f1f1f1;

			.option-selector {
				padding: 30px;
				border-bottom: 1px solid #ddd;

				h3 {
					font-size: 1.4em;
					font-family: 'Open Sans';
					font-weight: 400;
					margin-bottom: 30px;

					strong {
						font-weight: 900;
					}
				}

				.option {
					cursor: pointer;
					margin-bottom: 20px;

					h4 {
						font-size: 1.2em;
						font-family: 'Open Sans';
						font-weight: 600;
						margin: 12px 0 0 0;

						&.price {
							margin: 25px 0 0 0;
							text-align: right;
							font-weight: 400;
						}
					}

					p {
						font-size: 1.1em;
						color: #aaa;
						font-family: 'Open Sans';
						margin: 10px 0 0 0;
					}

					.image-wrapper {
						position: relative;
						border-radius: 100%;
						overflow: hidden;

						.overlay {
							display: none;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: #84be09;
							border-radius: 100%;

							span {
								display: block;
								font-size: 2em;
								color: #fff;
								text-align: center;
								height: 34px;
								line-height: 34px;
								position: absolute;
								width: 100%;
								top: 50%;
								margin-top: -17px;
							}
						}
					}

					&:hover {
						h4, p {
							opacity: 0.7;
						}
					}

					&.selected {
						.image-wrapper {
							.overlay {
								display: block;
							}

							img {
								opacity: 0;
							}
						}
					}

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}

			.duo-selector-wrapper {
				border-bottom: 1px solid #ddd;
			}

			.duo-selector {
				padding: 30px;

				h3 {
					font-size: 1.4em;
					font-family: 'Open Sans';
					font-weight: 400;
					margin-bottom: 30px;

					strong {
						font-weight: 900;
					}
				}

				.form-group {
					margin: 0;
				}

				.quantity-box {
					margin: 20px 0 0 0;

					input[type="text"] {
						display: block;
						width: 100%;
						height: 25px;
						background: none;
						border: none;
						box-shadow: none;
						font-size: 2em;
						text-align: center;
						font-weight: 900;
						color: #000;
					}

					a {
						display: inline-block;
						text-align: center;
						font-size: 1.2em;
						border: 3px solid map-get($theme-colors, primary);
						border-radius: 100%;
						padding: 0;
						margin: 0;

						span {
							display: block;
							width: 25px;
							height: 25px;
							line-height: 25px;
						}

						&.quantity-minus {
							float: right;
						}

						&:hover {
							color: #111;
							border-color: #111;
						}
					}
				}
			}
		}
	}

	&.shown {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.modal-product {
		padding: 20px;

		.modal-product-wrapper {
			width: 100%;

			.body {
				.option-selector {
					.option {
						h4, h4.price {
							margin-top: 20px;
						}
					}
				}

				.duo-selector-wrapper {
					> div:last-of-type {
						.duo-selector {
							padding-top: 0;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.modal-product {
		.modal-product-wrapper {
			.body {
				.option-selector {
					.option {
						h4, h4.price {
							margin-top: 15px;
						}

						.image-wrapper {
							.overlay {
								span {
									font-size: 1.6em;
								}
							}
						}
					}
				}
			}
		}
	}
}