.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	z-index: 999999;
	top: 0;
	left: 0;
	padding: 50px;
	overflow-y: scroll;

	.popup-wrapper {
		display: block;
		background: #fff;

		header {
			padding: 20px;

			h2 {
				font-size: 2.4em;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 1px;

				strong {
					font-weight: 900;
				}
			}
		}

		.body {
			padding: 20px;
			background: #f1f1f1;
			border-top: 1px solid #ddd;

			.list-group {
				margin: 0;
				border: none;

				.list-group-item {
					font-family: 'DinCondensed';
					font-size: 1.7em;
					// text-transform: uppercase;
					font-weight: 900;
					padding: 10px 17px;

					span {
						display: inline-block;
						height: 33px;
						line-height: 33px;
						font-size: 1em;

						&.fa-times {
							color: #be2323;
						}

						&.fa-check {
							color: #5dbe23;
						}
					}

					&:hover {
						background: #eee;
					}

					&.selected {
						background: map-get($theme-colors, primary);
						color: #fff;

						span {
							color: #fff;
						}
					}
				}
			}

			p {
				font-size: 1.4em;
				line-height: 1.4em;
				color: #aaa;
				text-align: center;
			}

			.additional-options {
				.form-group {
					margin: 0 0 30px 0;

					label {
						display: block;
						text-transform: uppercase;
						font-size: 1.4em;
						color: #aaa;
						letter-spacing: 1px;
						text-align: center;
					}

					.quantity-box {
						margin: 20px 0 0 0;

						input[type="text"] {
							display: block;
							width: 100%;
							height: 25px;
							background: none;
							border: none;
							box-shadow: none;
							font-size: 2.4em;
							text-align: center;
							font-weight: 900;
						}

						a {
							display: inline-block;
							text-align: center;
							font-size: 1.2em;
							border: 3px solid map-get($theme-colors, primary);
							border-radius: 100%;
							padding: 0;
							margin: 0;

							span {
								display: block;
								width: 25px;
								height: 25px;
								line-height: 25px;
							}

							&.quantity-minus {
								float: right;
							}

							&:hover {
								color: #111;
								border-color: #111;
							}
						}
					}
				}
			}
		}

		footer {
			padding: 20px;
			background: #fff;
			border-top: 1px solid #ddd;

			.btn {
				display: block;
				padding: 10px;
				color: map-get($theme-colors, primary);
				border-color: map-get($theme-colors, primary);

				&:hover {
					background: map-get($theme-colors, primary);
					color: #fff;
				}
			}
		}
	}

	&.small {
		.popup-wrapper {
			width: 400px;
			margin: 0 auto;
		}
	}

	&.popup-login, &.popup-register, &.popup-new-card, &.popup-new-address {
		display: none;
	}

	&.popup-login, &.popup-register, &.popup-new-address {
		.form-group {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		
		footer {
			.btn {
				display: block;
				width: 100%;
				border: none;
				background: map-get($theme-colors, primary);
				color: #fff;
				font-size: 1.6em;
				padding: 8px;

				&:hover {
					background: #222;
				}
			}

			p {
				font-size: 1.2em;
				margin-top: 15px;

				a {
					display: block;

					&.right {
						text-align: right;
					}
				}
			}
		}
	}

	&.popup-new-card {
		footer {
			.btn {
				display: block;
				width: 100%;
				border: none;
				background: map-get($theme-colors, primary);
				color: #fff;
				font-size: 1.6em;
				padding: 8px;

				&:hover {
					background: #222;
				}
			}
		}

		form {
			.card-wrapper {
				margin-bottom: 20px;
			}

			.input-wrapper {
				max-width: 350px;
				margin: 0 auto;
			}
		}

		.body {
			margin-bottom: -20px;

			p {
				margin-bottom: 20px;
			}
		}
	}

	&.popup-add-to-cart {
		.select-buttons {
			display: block;
			padding: 25px 15px;
			background: #fff;
			text-align: center;
			border: 1px solid #ddd;
			border-radius: 5px;

			span {
				font-size: 3em;
				color: #aaa;
			}

			p {
				color: #aaa;
				margin-top: 15px;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 1.4em;
			}

			&:hover {
				background: #eee;
			}

			&.active {
				background: map-get($theme-colors, primary);
				border-color: darken(map-get($theme-colors, primary), 5%);

				span {
					color: rgba(255, 255, 255, .7);
				}

				p {
					color: #fff;
				}
			}
		}
	}

	@media screen and (max-width: 600px) {
		padding: 20px;

		.popup-wrapper {
			width: 100%;
		}

		&.small {
			.popup-wrapper {
				width: 100%;
			}
		}
	}
}