.smart-menu {
	display: block;
	width: 100%;
	height: 100%;

	.tabs {
		@include clearfix;
		display: block;
		list-style: none;
		border-bottom: 1px solid #eee;
		height: 60px;
		background: #fff;

		li {
			display: inline-block;
			float: left;

			a {
				display: block;
				padding: 0 25px;
				font-size: 1.4em;
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 2px;
				color: #aaa;
				height: 60px;
				line-height: 60px;
				margin: 0;
				transition: all .3s;

				span {
					margin-right: 10px;
				}

				&:hover {
					background: #eee;
				}
			}

			&.active {
				a {
					background: map-get($theme-colors, primary);
					color: #fff;
				}
			}
		}
	}

	.products {
		display: block;
		padding: 30px 30px 0 30px;
		height: calc(100% - 60px);
		overflow-y: scroll;
		margin: 0 -10px;
		text-align: center;
		background: #fff;

		> .row {
			margin-left: -15px;
			margin-right: -15px;

			> div {
				padding-right: 15px;
				padding-left: 15px;
			}
		}

		.product {
			display: block;
			background: #222;
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: 30px;
			cursor: pointer;
			transition: all .3s;

			.image {
				height: 300px;
			}

			.info {
				padding: 25px;

				h2 {
					font-size: 3em;
					text-transform: uppercase;
					font-weight: 900;
					color: #fff;
					height: 34px;
					line-height: 34px;

					small {
						color: #aaa;
						color: map-get($theme-colors, primary);
					}
				}

				h3 {
					font-size: 2em;
					color: rgba(255, 255, 255, .6);
					text-transform: uppercase;
					margin: 5px 0 0 0;
				}

				p {
					font-size: 1em;
					color: rgba(255, 255, 255, .6);
					line-height: 1.4em;
					margin: 5px 0 0 0;
				}
			}

			.actions {
				padding: 25px;
				background: #111;

				.btn {
					font-size: 1.4em;
				}

				p {
					margin-top: 7px;
					font-size: 1.1em;
					line-height: 1.4em;
					color: #aaa;
				}
			}

			&:hover {
				background: #000;

				.image {
					transition: all .3s;
					opacity: 0.8;
				}
			}
		}

		.new-product {
			display: inline-block;
			margin-bottom: 30px;
			margin: 0 10px 30px 10px;
			// overflow: hidden;
			padding: 0 10px;
			width: 300px;
			
			.top {
				text-align: center;
				position: relative;

				.fillings {
					position: absolute;
					top: -20px;
					right: -20px;
					width: 65px;
				}

				h2 {
					@include clearfix;
					font-size: 2.2em;
					text-transform: uppercase;
					font-weight: 900;
					color: #222; color: map-get($theme-colors, primary);
					line-height: 1.1em;
					margin: 20px 0 0 0;
					position: relative;

					small {
						color: #aaa;
					}

					.name {
						display: inline-block;
					}

					.icon {
						display: inline-block;
						width: 25px;
						height: 25px;
						background: #fff;
						border-radius: 100%;
						margin-left: 5px;
						border: 1px solid #ddd;
						line-height: 25px;
						text-align: center;
						font-size: 0.4em;
						position: relative;
						top: -7px;
					}
				}

				h3 {
					font-size: 1.6em;
					color: #444;
					text-transform: uppercase;
					margin: 10px 0 0 0;
					font-family: 'Open Sans';
					font-weight: bold;
				}

				p {
					font-size: 1.1em;
					color: #aaa;
					line-height: 1.4em;
					margin: 5px 0 0 0;
					text-align: justify;
				}

				.btn {
					font-size: 1.4em;
					height: auto;
					border-color: map-get($theme-colors, primary);
					color: map-get($theme-colors, primary);
					margin-top: 15px;
					padding: 10px;

					&:hover {
						background: none;
						color: #222;
						border-color: #222;
					}
				}
			}

			.bottom {
				margin: 20px 0 0 0;

				a {
					display: block;
					padding: 0 10px;
					text-align: center;
					color: #fff;
					background: map-get($theme-colors, primary);
					text-transform: uppercase;
					font-weight: 100;
					letter-spacing: 2px;
					font-size: 1.1em;
					height: 55px;
					line-height: 55px;
					margin-top: 10px;
					transition: all .3s;
					border-radius: 10px;
					font-weight: bold;

					&:hover {
						background: #222;
						color: #fff;
					}

					&.alt {
						background: #222;
						color: #fff;

						&:hover {
							background: map-get($theme-colors, primary);
						}
					}

					span {
						margin-right: 3px;
					}
				}

				.quantity-wrapper {
					background: map-get($theme-colors, primary);
					height: 55px;
					border-radius: 25px;
					overflow: hidden;
					padding: 0 0 0 10px;

					a {
						border-radius: 0 25px 25px 0;
						padding-right: 10px;
					}
				}

				.quantity {
					display: block;
					position: relative;
					height: 55px;
					background: map-get($theme-colors, primary);
					border-right: 1px solid darken(map-get($theme-colors, primary), 7%);

					span {
						position: absolute;
						top: 0;
						left: 0;
						height: 55px;
						line-height: 55px;
						padding: 0 15px;
						font-size: 0.9em;
						color: map-get($theme-colors, primary);
						color: #fff;

						&.up {
							left: auto;
							right: 0;
						}

						&:hover {
							color: #222;
						}
					}

					input {
						display: block;
						width: 100%;
						height: 55px;
						background: none;
						border: none;
						box-shadow: none;
						text-align: center;
						border: 1px solid #ddd;
						border-right: none;
						font-size: 1.2em;
						// font-weight: 900;
						color: #fff;
						border: none;
					}
				}
			}

			// &:hover {
			// 	opacity: 0.8;
			// }
		}
	}

	@media screen and (max-width: 600px) {
		.products .new-product .bottom .quantity-wrapper {
			height: auto;
			padding: 0;

			a {
				border-radius: 0;
			}
		}
	}
}