.smart-cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 350px;
	height: 100%;
	background: #fff;
	z-index: 9999;
	background: #222;

	.stage {
		height: 100%;
	}

	header {
		h2 {
			display: block;
			height: 60px;
			line-height: 60px;
			text-align: center;
			font-size: 2em;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
			background: #111;
			position: relative;

			span {
				height: 60px;
				line-height: 60px;
				position: absolute;
				top: 0;
				left: 20px;
				font-size: 0.7em;
				cursor: pointer;

				&:hover {
					color: map-get($theme-colors, primary);
				}
			}
		}
	}

	.body {
		height: calc(100% - 205px);
		overflow-y: scroll;
		
		h2 {
			display: block;
			text-align: center;
			font-size: 1.8em;
			color: #fff;
			text-transform: uppercase;
			font-weight: 900;
		}

		.cart-items {
			.cart-item {
				padding: 20px;
				cursor: pointer;

				h2 {
					text-align: left;
					font-family: 'Open Sans';
					font-size: 1.2em;
					font-weight: 600;
					text-transform: none;
					line-height: 20px;

					small {
						color: #aaa;
					}
				}

				p {
					font-size: 1em;
					color: rgba(255, 255, 255, .6);
					margin-top: 10px;
					
					span {
						font-style: italic;
					}
				}

				ul {
					font-size: 1em;
					color: rgba(255, 255, 255, .6);
					margin-top: 10px;
					margin-left: 20px;

					li {
						margin-bottom: 13px;

						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}

				.price {
					@include clearfix;

					h2 {
						display: inline-block;
						text-align: right;
						font-weight: normal;
						float: right;
						margin-right: 15px;
					}

					a {
						display: inline-block;
						float: right;
						height: 20px;
						line-height: 20px;

						span {
							font-size: 1.2em;
							color: #aaa;
							height: 20px;
							line-height: 20px;
						}
					}
				}

				&:hover {
					background: map-get($theme-colors, primary);

					.price {
						a {
							span {
								color: #fff;
							}
						}
					}
				}
			}
		}

		.empty-cart {
			padding: 30px;

			span {
				display: block;
				text-align: center;
				font-size: 4em;
				color: #777;
			}

			h2 {
				margin-top: 15px;
			}

			p {
				font-size: 1.1em;
				line-height: 1.5em;
				color: #aaa;
				text-align: center;
				margin-top: 10px;
			}
		}
	}

	.total-cost {
		padding: 20px;
		background: #000;

		h2 {
			font-size: 1.4em;
			color: #fff;
			font-weight: 900;
			text-transform: uppercase;

			small {
				font-size: 1em;
				font-weight: normal;
			}
		}
	}

	footer {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 20px;
		background: #111;

		.btn {
			padding: 10px;
			height: auto;
			border: none;
			font-size: 1.3em;
			background: map-get($theme-colors, primary);
			border-radius: 10px;
			text-transform: none;
			font-weight: normal;
			font-family: 'Open Sans';
			letter-spacing: 0;

			&:hover {
				background: #000;
			}

			&[disabled] {
				opacity: 0.5;
				cursor: not-allowed;

				&:hover {
					background: map-get($theme-colors, primary);
				}
			}
		}
	}

	.stage-checkout {
		.body {
			padding: 20px;

			input {
				background: #000;
				border: 1px solid #000;
				font-size: 1.1em;
			}

			.form-group {
				.error-message {
					display: none;
					font-size: 1em;
					color: #aaa;
					margin: 10px 0 0 0;
					color: #a91515;
					font-weight: bold;
				}

				&.error {
					input {
						@include placeholder(#a91515);
						border: 1px solid #a91515;
					}

					.error-message {
						display: block;
					}
				}
			}

			#card-errors {
				font-size: 1em;
				color: #aaa;
				margin: 10px 0 0 0;
				color: #a91515;
				font-weight: bold;
			}
		}
	}

	.hidden {
		display: none !important;
	}

	.loader {
		margin-top: 50px;
	}

	&.minimized {
		right: -350px;
	}
}