.StripeElement {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    box-shadow: none;
    display: block;
    margin: 0 auto;
    font-size: 1em;
}

.StripeElement--focus {
    
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}