.box-list {
	margin-bottom: -20px;

	.box-list-item {
		padding: 20px;
		background: #fff;
		margin-bottom: 20px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, .03);

		img {
			display: block;
			max-width: 80%;
			margin: 0 auto;
		}

		h2, h3 {
			text-align: center;
		}

		h2 {
			font-size: 1.6em;
			margin: 20px 0 0 0;
			font-weight: 900;
		}

		h3 {
			font-size: 1.2em;
			font-family: 'Open Sans';
			color: #aaa;
			margin: 10px 0 0 0;
		}

		.btn {
			display: block;
			font-size: 1.1em;
			font-family: 'Open Sans';
			border: none;
			letter-spacing: 0;
			margin: 20px 0 0 0;
			border-radius: 5px;
			transition: none;

			&.btn-primary {
				background: map-get($theme-colors, primary);
				color: #fff;
				
				&:hover {
					background: darken(map-get($theme-colors, primary), 15%);
				}
			}
		}
	}
}