form.admin {
	margin: 0;

	.alert {
		p {
			font-size: 1.1em;
		}
	}
	
	.form-group {
		.form-control {
			height: auto;
			padding: 12px;
			font-size: 1.1em;
		}

		.pretty {
			font-size: 1.2em;

			label {
				margin-left: 10px;
			}
		}
	}

	.btn {
		background: map-get($theme-colors, primary);
		border: none;
		font-size: 1.6em;
		display: inline-block;
		width: auto;
		padding: 10px 20px;
		margin: 10px 0 0 0;

		&:hover {
			background: #111;
		}
	}
}