header.admin {
	@include clearfix;
	$header_height: 70px;
	background: #34373d;
	height: $header_height;

	h1 {
		display: inline-block;
		float: left;
		width: 300px;
		font-size: 2em;
		color: #fff;
		text-transform: uppercase;
		height: $header_height;
		line-height: $header_height;
		padding: 0 20px;
		background: #000;
		background: map-get($theme-colors, primary);
		text-align: center;
	}

	ul {
		@include clearfix;
		display: inline-block;
		float: left;
		width: calc(100% - 300px);
		list-style: none;

		li {
			display: inline-block;
			float: right;

			a {
				display: block;
				height: $header_height;
				line-height: $header_height;
				padding: 0 30px;
				font-size: 1.6em;
				color: rgba(255, 255, 255, .5);

				span {
					margin-right: 10px;
				}

				&:hover {
					color: #fff;
				}
			}

			&.active {
				a {
					color: #fff;
					background: #222;
				}
			}
		}
	}
}