.insert-image {
	display: block;
	padding: 25px 20px;
	background: #fff;
	cursor: pointer;
	height: 151px;
	border: 1px solid #ced4da;
	border-radius: 5px;

	span {
		display: block;
		text-align: center;
		font-size: 2.6em;
		margin: 15px 0 0 0;
	}

	h2 {
		font-size: 1.8em;
		text-transform: uppercase;
		font-weight: 900;
		text-align: center;
		margin: 5px 0 0 0;
	}

	&:hover {
		background: map-get($theme-colors, primary);

		span {
			color: #fff;
		}

		h2 {
			color: rgba(255, 255, 255, .7);
		}
	}
}