.login-page {
	position: relative;
	height: 100%;
	overflow: hidden;

	.logo {
		display: block;
		max-width: 250px;
		margin: 60px auto 0 auto;
	}

	.login-box {
		display: block;
		padding: 30px;
		background: #fff;
		max-width: 400px;
		margin: 0 auto;

		.alert {
			p {
				font-size: 1.1em;
				line-height: 1.4em;
			}
		}

		form {
			margin: 0;
		}

		.form-control {
			@include placeholder(#aaa);
			height: auto;
			padding: 12px;
			font-size: 1em;
			color: #222;
		}

		.btn {
			background: map-get($theme-colors, primary);
			border: none;
			font-size: 1.6em;
			display: block;
			width: 100%;
			padding: 10px;

			&:hover {
				background: #111;
			}
		}
	}
}