.sidebar {
	background: #fff;
	height: calc(100% - 70px);
	width: 300px;
	position: fixed;
	top: 70px;
	left: 0;
	padding: 20px;

	ul {
		list-style: none;

		li {
			a {
				display: block;
				padding: 13px;
				border-radius: 5px;
				font-size: 1.4em;
				color: #babbbf;
				font-weight: bold;
				text-transform: capitalize;

				span {
					margin-right: 5px;
				}

				&:hover {
					color: #7c868e;
				}
			}

			&.active {
				a {
					background: #f3f5f9;
					color: #7c868e;
				}
			}
		}
	}
}