<template>
	<span class="badge" v-if="total_items > 0">{{ total_items }}</span>
</template>

<script>
	export default {
		data() {
			return {
				total_items: 0,
			}
		},

		mounted()
		{
			var _context = this;
			this.total_items = _cart.total_items;

			this.$root.$on('cartUpdated', function(cart) {
				_context.total_items = cart.total_items;
			});
		}
	}
</script>