<template>
	<a href="#" class="btn btn-primary" @click.prevent="addToCart">Add to cart</a>
</template>

<script>
	export default {
		props: {
			product_id: {
				required: true,
			}
		},

		methods: {
			addToCart()
			{
				this.$root.activeAddProduct = this.product_id;
			}
		}
	}
</script>