<template>
	<a href="#" class="close-mobile-menu" @click.prevent="closeMenu"><span class="fa fa-times"></span></a>
</template>

<script>
	export default {
		methods: {
			closeMenu()
			{
				$('ul.navigation').animate({
					left: '-100%',
				}, 300);
			}
		}
	}
</script>