<template>
	<a href="#" class="open-mobile-menu" @click.prevent="openMenu"><span class="fa fa-bars"></span></a>
</template>

<script>
	export default {
		methods: {
			openMenu()
			{
				$('ul.navigation').animate({
					left: 0,
				}, 300);
			}
		}
	}
</script>