<template>
	<div class="location-search">
		<div class="search-bar">
			<form @submit.prevent="doSearch">
				<div class="icon"><span class="fa fa-search"></span></div>
				<input type="text" placeholder="Enter a postcode to see if we can deliver" v-model="criteria" />
				<div class="button">
					<input type="submit" value="Search" />
				</div>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				criteria: null,
			}
		},

		methods: {
			doSearch()
			{
				alert(this.criteria);
			}
		}
	}
</script>