<template>
	<div class="postcode">
		<div class="postcode-inner">
			<form @submit.prevent="checkDelivery">
				<input type="text" placeholder="Enter your postcode" />
				<input type="submit" value="Check delivery" />
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		methods: {
			checkDelivery()
			{
				window.location.href = '/menu';
			}
		}
	}
</script>