<template>
	<div class="list-group">
		<div class="list-group-item" v-for="address in addresses">
			<p>{{ address.line1 }}, {{ address.line2 }}, {{ address.town }}, {{ address.postcode }}</p>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				addresses: window._addresses,
			}
		},

		mounted()
		{
			var _context = this;
			this.$root.$on('addressCreated', function() {
				_context.getAddresses();
			});
		},

		methods: {
			getAddresses()
			{
				axios.get(`/api/account/address`)
					.then(response => {
						this.addresses = response.data;
					}).catch(error => {
						console.log(error);
					});
			}
		}
	}
</script>