<template>
	<div
		class="modal-product"
		:class="{
			shown: (product)
		}"
		@click="closeModal"
	>
		<div class="modal-product-wrapper" v-if="product">
			<div class="row condensed">
				<div class="col-md-12">
					<div
						class="image"
						:style="'background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + product.image + ') no-repeat center center; background-size: cover;'"
					>
						<h2>{{ product.name }} <small class="float-right" v-if="the_action != 'deal'">&pound;{{ product.price }}</small></h2>
						<p>{{ product.description }}</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="info">
						<div class="body">
							<div class="option-selector" v-if="fillings && fillings.length > 0 && product.fillings_enabled">
								<h3>Select your <strong>fillings</strong></h3>

								<div
									class="option"
									v-for="filling, key in fillings"
									@click.prevent="setSelectedFilling(key)"
									:class="{
										selected: (filling.selected)
									}"
								>
									<div class="row">
										<div class="col-md-2 col-3">
											<div class="image-wrapper">
												<div class="overlay"><span class="fa fa-check"></span></div>
												<img :src="filling.image" class="img-fluid" />
											</div>
										</div>
										<div class="col-md-8 col-6">
											<h4>{{ filling.name }}</h4>
										</div>
										<div class="col-md-2 col-3">
											<h4 class="price">&pound;{{ filling.price.toFixed(2) }}</h4>
										</div>
									</div>
								</div>
							</div>

							<div class="option-selector" v-if="sauces && sauces.length > 0 && product.sauces_enabled">
								<h3>Select your <strong>sauces</strong></h3>
								<div
									class="option"
									v-for="sauce, key in sauces"
									@click.prevent="setSelectedSauce(key)"
									:class="{
										selected: (sauce.selected)
									}"
								>
									<div class="row">
										<div class="col-md-2 col-3">
											<div class="image-wrapper">
												<div class="overlay"><span class="fa fa-check"></span></div>
												<img :src="sauce.image" class="img-fluid" />
											</div>
										</div>
										<div class="col-md-8 col-6">
											<h4>{{ sauce.name }}</h4>
										</div>
										<div class="col-md-2 col-3">
											<h4 class="price">&pound;{{ sauce.price.toFixed(2) }}</h4>
										</div>
									</div>
								</div>
							</div>

							<div class="row duo-selector-wrapper">
								<div
									:class="{
										'col-md-6': (the_action != 'deal'),
										'col-md-12': (the_action == 'deal'),
									}"
								>
									<div class="duo-selector" v-if="fillings && fillings.length > 0 && product.cheese_enabled">
										<h3>Do you want <strong>cheese</strong>?</h3>

										<div class="form-group">
											<select class="form-control">
												<option value="1">Yes, add cheese</option>
												<option value="0">No cheese</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6" v-if="the_action != 'deal'">
									<div class="duo-selector" v-if="fillings && fillings.length > 0 && product.cheese_enabled">
										<h3>Select a <strong>quantity</strong></h3>
										<div class="quantity-box">
											<div class="row">
												<div class="col-3">
													<a href="#" class="quantity-minus">
														<span class="fa fa-minus" @click.prevent="updateQuantity(-1)"></span>
													</a>
												</div>
												<div class="col-6">
													<input type="text" v-model="quantity" />
												</div>
												<div class="col-3">
													<a href="#" class="quantity-plus">
														<span class="fa fa-plus" @click.prevent="updateQuantity(1)"></span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<footer>
							<a href="#" class="btn btn-primary" @click.prevent="addToCart" v-if="the_action == 'cart'">Add to cart</a>
							<a href="#" class="btn btn-primary" @click.prevent="addToDeal" v-if="the_action == 'deal'">Add to deal</a>
							<a href="#" class="btn btn-primary" @click.prevent="saveChanges" v-if="the_action == 'edit'">Save changes</a>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			action: {
				default: 'cart',
			}
		},

		data() {
			return {
				product: null,
				deal_key: null,
				deal_item_key: null,
				sauces: [],
				fillings: [],
				cheese: true,
				quantity: 1,
				the_action: this.action,
				edit_product: null,
			}
		},

		mounted()
		{
			var _context = this;
			this.buildSauces();
			this.buildFillings();

			this.$root.$on('openAddToCart', function(product, deal_key, deal_item_key, action) {
				if(deal_key != null) _context.deal_key = deal_key;
				if(deal_item_key != null) _context.deal_item_key = deal_item_key;
				if(action != null) {
					_context.the_action = action;
					_context.edit_product = product;
					_context.product = product.product;
					_context.buildSauces();
					_context.buildFillings();
					return;
				}

				_context.product = product;
			});
		},

		methods: {
			setSelectedFilling(key)
			{
				this.fillings[key].selected = (this.fillings[key].selected) ? false : true;
			},

			setSelectedSauce(key)
			{
				this.sauces[key].selected = (this.sauces[key].selected) ? false : true;
			},

			buildFillings()
			{
				this.fillings = [];

				var _context = this;

				_.each(_fillings, function(filling) {
					if(_context.edit_product && _context.edit_product.actual_fillings && _context.edit_product.actual_fillings.length > 0) {
						var find = _.find(_context.edit_product.actual_fillings, function(ffilling) {
							return ffilling.id == filling.id;
						});

						filling.selected = (find) ? true : false;
					} else {
						filling.selected = false;
					}

					_context.fillings.push(filling);
				});
			},

			buildSauces()
			{
				this.sauces = [];

				var _context = this;

				_.each(_sauces, function(sauce) {
					if(_context.edit_product && _context.edit_product.actual_sauces && _context.edit_product.actual_sauces.length > 0) {
						var find = _.find(_context.edit_product.actual_sauces, function(fsauce) {
							return fsauce.id == sauce.id;
						});

						sauce.selected = (find) ? true : false;
					} else {
						sauce.selected = false;
					}

					_context.sauces.push(sauce);
				});
			},

			closeModal(e)
			{
				if($(e.target).hasClass('modal-product')) {
					this.product = null;
					this.reset();
				}
			},

			setCheese(value)
			{
				this.cheese = value;
			},

			addToCart()
			{
				var active_sauces = [],
					active_fillings = [];

				// Build sauce list
				_.each(this.sauces, function(sauce) {
					if(sauce.selected) active_sauces.push(sauce.id);
				});

				// Build filling list
				_.each(this.fillings, function(filling) {
					if(filling.selected) active_fillings.push(filling.id);
				});

				// Post to add to cart.
				axios.post('/api/cart', {
					product_id: this.product.id,
					sauces: active_sauces,
					fillings: active_fillings,
					cheese: this.cheese,
					quantity: this.quantity,
				}).then(response => {
					this.$root.cart.total_items++;
					this.product = null;
					this.$root.$emit('cartUpdated', response.data);
					this.reset();
				}).catch(error => {
					console.log(error);
				});
			},

			reset()
			{
				this.edit_product = null;
				if(this.the_action == 'edit') this.the_action = 'cart';

				this.buildSauces();
				this.buildFillings();
				this.cheese = true;
				this.quantity = 1;
			},

			updateQuantity(change)
			{
				var new_quantity = this.quantity + change;
				if(new_quantity > 0) this.quantity = new_quantity;
			},

			addToDeal()
			{
				var active_sauces = [],
					active_fillings = [];

				// Build sauce list
				_.each(this.sauces, function(sauce) {
					if(sauce.selected) active_sauces.push(sauce.id);
				});

				// Build filling list
				_.each(this.fillings, function(filling) {
					if(filling.selected) active_fillings.push(filling.id);
				});

				var data = {
					product: this.product,
					sauces: active_sauces,
					fillings: active_fillings,
					cheese: this.cheese,
					quantity: this.quantity,
				};

				this.product = null;
				this.reset();
				this.$root.$emit('dealAdded', data, this.deal_key, this.deal_item_key);
			},

			saveChanges()
			{
				var active_sauces = [],
					active_fillings = [];

				// Build sauce list
				_.each(this.sauces, function(sauce) {
					if(sauce.selected) active_sauces.push(sauce.id);
				});

				// Build filling list
				_.each(this.fillings, function(filling) {
					if(filling.selected) active_fillings.push(filling.id);
				});

				// Post to add to cart.
				axios.put(`/api/cart/${this.edit_product.id}`, {
					sauces: active_sauces,
					fillings: active_fillings,
					cheese: this.cheese,
					quantity: this.quantity,
				}).then(response => {
					this.product = null;
					this.$root.$emit('cartUpdated', response.data);
					this.reset();
				}).catch(error => {
					console.log(error);
				});
			}
		}
	}
</script>