<template>
	<div
		class="modal-product"
		:class="{
			shown: (product)
		}"
		@click="closeModal"
	>
		<div class="modal-product-wrapper" v-if="product">
			<div
				class="image"
				:style="'background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + product.image + ') no-repeat center center; background-size: cover;'"
			>
				<h2>{{ product.name }} <small class="float-right">&pound;{{ product.price }}</small></h2>
				<p>{{ product.description }}</p>
			</div>
			<div class="info">
				<div class="product-information" v-html="product.long_description"></div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				product: null,
			}
		},

		mounted()
		{
			var _context = this;

			this.$root.$on('openProductInfoModal', function(product) {
				_context.product = product;
			});
		},

		methods: {
			closeModal(e)
			{
				if($(e.target).hasClass('modal-product')) {
					this.product = null;
				}
			},
		}
	}
</script>