<template>
	<div class="payment-guest">
		<header>
			<h2><span class="fa fa-credit-card"></span> Pay for your order</h2>
			<p>Enter your personal information, delivery info and then pay via card. Secured by <strong>Stripe</strong>.</p>
			<p><a href="#" class="open-login">Or <strong>login</strong> for quicker checkout</a></p>
		</header>
		<form @submit.prevent="makePurchase">
			<div class="body">
				<div
					:class="{
						hidden: (loading),
					}"
				>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Full name" v-model="model.name" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Email address" v-model="model.email" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Phone number" v-model="model.phone" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Address Line 1" v-model="model.address_line_1" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Town" v-model="model.address_town" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Postcode" v-model="model.address_postcode" />
					</div>

					<div id="card-element"></div>
					<div id="card-errors" role="alert"></div>
				</div>

				<div
					class="loader"
					:class="{
						hidden: (!loading)
					}"
				></div>
			</div>
			<footer>
				<input type="submit" class="btn btn-primary" value="Make payment" />
			</footer>
		</form>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				model: {
					name: null,
					email: null,
					phone: null,
					address_line_1: null,
					address_town: null,
					address_postcode: null,
					token: null,
				},

				stripe: null,
				elements: null,
				card: null,

				loading: false,
			}
		},

		mounted()
		{
			var style = {
  				base: {
    				color: '#fff',
    				fontFamily: 'Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif',
    				fontSize: '15px',
    				'::placeholder': {
      					color: 'rgba(255, 255, 255, .5)'
    				},
  				},
  				invalid: {
    				color: '#fa755a',
  				}
			};

			this.stripe = Stripe('pk_test_CZrqpdf1P4bIg8ZxeLConRvj00ww7NxE4Q');
			this.elements = this.stripe.elements();
			this.card = this.elements.create('card', {style: style});
			this.card.mount('#card-element');

			this.card.addEventListener('change', function(event) {
			  	var displayError = document.getElementById('card-errors');
			  	if(event.error) {
			    	displayError.textContent = event.error.message;
			  	} else {
			    	displayError.textContent = '';
			  	}
			});
		},

		methods: {
			makePurchase()
			{
				this.loading = true;
				var _context = this;

			  	this.stripe.createPaymentMethod(
				  	'card',
				  	this.card
				).then(function(result) {
				  	if(result.error) {
				  		console.log(result.error);
				  	} else {
				  		_context.model.token = result.paymentMethod.id;

				  		axios.post(`/api/cart/checkout/guest`, _context.model)
							.then(response => {
								window.location.href = `/orders/${response.data.pretty_id}`;
							}).catch(error => {
								console.log(error.response);
							});
				  	}
				});

			}
		}
	}
</script>