<template>
	<div class="payment-user">
		<header>
			<h2><span class="fa fa-credit-card"></span> Pay for your order</h2>
			<p>Because you're logged in you just have to select which card to use from the list below</p>
		</header>
		<div class="body">
			<div v-if="cards && addresses && !loading">
				<div v-if="addresses.length > 0">
					<div class="owl-carousel">
						<div class="item" v-for="card in cards">
							<div class="jp-card-container"><div class="jp-card jp-card-visa jp-card-identified"><div class="jp-card-front"><div class="jp-card-logo jp-card-elo"><div class="e">e</div><div class="l">l</div><div class="o">o</div></div><div class="jp-card-logo jp-card-visa">Visa</div><div class="jp-card-logo jp-card-visaelectron">Visa<div class="elec">Electron</div></div><div class="jp-card-logo jp-card-mastercard">Mastercard</div><div class="jp-card-logo jp-card-maestro">Maestro</div><div class="jp-card-logo jp-card-amex"></div><div class="jp-card-logo jp-card-discover">discover</div><div class="jp-card-logo jp-card-dinersclub"></div><div class="jp-card-logo jp-card-dankort"><div class="dk"><div class="d"></div><div class="k"></div></div></div><div class="jp-card-logo jp-card-jcb"><div class="j">J</div><div class="c">C</div><div class="b">B</div></div><div class="jp-card-lower"><div class="jp-card-shiny"></div><div class="jp-card-cvc jp-card-display jp-card-valid">111</div><div class="jp-card-number jp-card-display jp-card-valid">4242 4242 4242 4242</div><div class="jp-card-name jp-card-display jp-card-valid">J Emery</div><div class="jp-card-expiry jp-card-display jp-card-valid" data-before="month/year" data-after="validthru">02/20</div></div></div><div class="jp-card-back"><div class="jp-card-bar"></div><div class="jp-card-cvc jp-card-display jp-card-valid">111</div><div class="jp-card-shiny"></div></div></div></div>
						</div>
						<div class="item">
							<a href="#" class="new-card open-new-card" @click.prevent="openCardPopup">
								<span class="fa fa-plus"></span>
								<h2>Add a new card</h2>
								<p>Save a new card against your account</p>
							</a>
						</div>
					</div>

					<div class="form-group">
						<label>Pick your desired address</label>
						<select class="form-control" v-model="active_address">
							<option v-for="address in addresses" :value="address.id">{{ address.line1 }}</option>
						</select>
					</div>

					<div class="form-group">
						<label>Pick a delivery time</label>
						<select class="form-control">
							<option>9:30</option>
						</select>
					</div>
				</div>

				<div class="no-address" v-else>
					<h2>No addresses found</h2>
					<p>You haven't got any addresses saved against your account, use the button below to save a new one</p>
				</div>
			</div>

			<div class="loader" v-else></div>
		</div>
		<footer v-if="!loading">
			<a href="#" class="btn btn-primary" @click.prevent="makePurchase" v-if="addresses.length > 0">Make purchase</a>
			<a href="#" class="btn btn-primary open-new-address" v-else>Add new address</a>
		</footer>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				cards: null,
				active_address: (window._addresses && window._addresses.length > 0) ? window._addresses[0].id : null,
				active_card: 0,
				loading: false,
				addresses: window._addresses,
			}
		},

		mounted()
		{
			var _context = this;
			this.getCards();
			this.calculateDelivery();

			this.$root.$on('cardCreated', function() {
				_context.cards = null;
				_context.getCards();
			});

			this.$root.$on('addressCreated', function() {
				_context.getAddresses();
			});
		},

		updated()
		{
			var _context = this;

			$('.owl-carousel').owlCarousel({
				items: 1,
			}).on('changed.owl.carousel', function(e) {
				_context.active_card = e.item.index;
			});
		},

		methods: {
			getCards()
			{
				axios.get('/api/account/cards')
					.then(response => {
						this.cards = response.data.data;
					}).catch(error => {
						console.log(error);
					});
			},

			openCardPopup()
			{
				$('.popup-new-card').fadeIn(300);
			},

			getActiveCard()
			{
				return (this.active_card != this.cards.length) ? this.cards[this.active_card].id : null;
			},

			makePurchase()
			{
				var card = this.getActiveCard();

				// Make sure we have a card selected.
				if(card == null) this.noCardSelected();

				// Set to loading
				this.loading = true;

				// Make the purchase
				axios.post(`/api/cart/checkout/user`, {
					card_id: card,
					address_id: this.active_address
				}).then(response => {
					window.location.href = `/orders/${response.data.pretty_id}`;
				}).catch(error => {
					console.log(error.response);
				});
			},

			noCardSelected()
			{
				alert('Please make sure to select a card.');
			},

			getAddresses()
			{
				axios.get(`/api/account/address`)
					.then(response => {
						this.addresses = response.data;
						this.active_address = response.data[0].id;
					}).catch(error => {
						console.log(error);
					});
			},

			calculateDelivery()
			{
				axios.get(`/api/cart/delivery`)
					.then(response => {
						console.log(response);
					}).catch(error => {
						console.log(error);
					});
			},
		}
	}
</script>