<template>
	<div class="popup popup-new-address small" @click="closeModal">
		<div class="popup-wrapper">
			<header>
				<h2>Creating a new <strong>address</strong></h2>
			</header>
			<form @submit.prevent="createAddress">
				<div class="body">
					<div v-if="stage == 'create'">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Line 1" v-model="model.line1" />
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Line 2" v-model="model.line2" />
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Town" v-model="model.town" />
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Postcode" v-model="model.postcode" />
						</div>
					</div>

					<div v-if="stage == 'loading'">
						<div class="loader"></div>
						<p>Loading, give us a minute...</p>
					</div>

					<div v-if="stage == 'success'">
						<div class="success-checkmark">
						  	<div class="check-icon">
						    	<span class="icon-line line-tip"></span>
						    	<span class="icon-line line-long"></span>
						    	<div class="icon-circle"></div>
						    	<div class="icon-fix"></div>
						  	</div>
						</div>
						<p>The address was saved successfully</p>
					</div>
				</div>
				<footer>
					<input type="submit" class="btn btn-primary" value="Save address" v-if="stage == 'create'" />
					<a href="#" class="btn btn-primary" @click.prevent="closeModal(false)" v-if="stage == 'success'">Close</a>
				</footer>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				stage: 'create',
				model: {
					line1: null,
					line2: null,
					town: null,
					postcode: null,
				}
			}
		},

		methods: {
			closeModal(e)
			{
				if(e) {
					if($(e.target).hasClass('popup')) $('.popup-new-address').fadeOut(300);
				} else {
					$('.popup-new-address').fadeOut(300);
				}
			},

			createAddress()
			{
				this.stage = 'loading';
				axios.post(`/api/account/address`, this.model)
					.then(response => {
						this.$root.$emit('addressCreated');
						this.stage = 'success';
					}).catch(error => {
						console.log(error);
					});
			},
		}
	}
</script>