<template>
	<div class="popup popup-login small" @click="closeModal">
		<div class="popup-wrapper">
			<header>
				<h2><strong>Log into</strong> your account</h2>
			</header>
			<form @submit.prevent="doLogin">
				<div class="body">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Email address" v-model="model.email" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" v-model="model.password" />
					</div>
				</div>
				<footer>
					<input type="submit" class="btn btn-primary" value="Login" />
					<div class="row">
						<div class="col-md-6">
							<p><a href="#" @click.prevent="openRegister">No account? Create one</a></p>
						</div>
						<div class="col-md-6">
							<p><a href="#" class="right">Forgot your password?</a></p>
						</div>
					</div>
				</footer>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				model: {
					email: null,
					password: null,
				}
			}
		},

		methods: {
			closeModal(e)
			{
				if(e) {
					if($(e.target).hasClass('popup')) $('.popup-login').fadeOut(300);
				} else {
					$('.popup-login').fadeOut(300);
				}
			},

			doLogin()
			{
				axios.post('/api/auth/login', this.model)
					.then(response => {
						if(response.data.success) return window.location.reload();

						this.loginError();
					}).catch(error => {
						this.loginError(error);
					});
			},

			loginError(error)
			{
				alert('error');
			},

			openRegister()
			{
				this.closeModal();
				$('.popup-register').show();
			}
		}
	}
</script>