<template>
	<div class="popup popup-add-to-cart small" @click="closeModal">
		<div class="popup-wrapper">
			<header>
				<h2>
					<span v-if="active_stage == 'fillings'">Select your <strong>fillings</strong></span>
					<span v-if="active_stage == 'sauces'">Select your <strong>sauce</strong></span>
					<span v-if="active_stage == 'cheese'">Additional <strong>options</strong></span>
					<span v-if="active_stage == 'success'"><strong>Successfully</strong> added to cart</span>
				</h2>
			</header>
			<div class="body">
				<div class="list-group" v-if="active_stage == 'fillings'">
					<a
						v-for="filling, key in fillings"
						href="#"
						class="list-group-item"
						:class="{
							selected: (filling.active),
						}"
						@click.prevent="toggleActiveFilling(key)"
					>
						{{ filling.name }}
						<span class="fa fa-check float-right" v-if="filling.active"></span>
						<span class="fa fa-times float-right" v-else></span>
					</a>
				</div>

				<div class="list-group" v-if="active_stage == 'sauces'">
					<a
						v-for="sauce, key in sauces"
						href="#"
						class="list-group-item"
						:class="{
							selected: (sauce.active),
						}"
						@click.prevent="toggleActiveSauce(key)"
					>
						{{ sauce.name }}
						<span class="fa fa-check float-right" v-if="sauce.active"></span>
						<span class="fa fa-times float-right" v-else></span>
					</a>
				</div>

				<div v-if="active_stage == 'cheese'" class="additional-options">
					<div class="form-group">
						<label>Choose a quantity</label>
						
						<div class="quantity-box">
							<div class="row">
								<div class="col-5">
									<a href="#" class="quantity-minus">
										<span class="fa fa-minus" @click.prevent="updateQuantity(-1)"></span>
									</a>
								</div>
								<div class="col-2">
									<input type="text" v-model="quantity" />
								</div>
								<div class="col-5">
									<a href="#" class="quantity-plus">
										<span class="fa fa-plus" @click.prevent="updateQuantity(1)"></span>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<a
								href="#"
								class="select-buttons"
								:class="{
									active: (cheese)
								}"
								@click.prevent="setCheese(true)"
							>
								<span class="fa fa-check"></span>
								<p>Cheese</p>
							</a>
						</div>
						<div class="col-6">
							<a
								href="#"
								class="select-buttons"
								:class="{
									active: (!cheese)
								}"
								@click.prevent="setCheese(false)"
							>
								<span class="fa fa-times"></span>
								<p>No cheese</p>
							</a>
						</div>
					</div>
				</div>

				<div v-if="active_stage == 'success'">
					<div class="success-checkmark">
					  	<div class="check-icon">
					    	<span class="icon-line line-tip"></span>
					    	<span class="icon-line line-long"></span>
					    	<div class="icon-circle"></div>
					    	<div class="icon-fix"></div>
					  	</div>
					</div>
					<p>The product was successfully added, you now have <strong>{{ cart_total }} items</strong> in your cart</p>
				</div>
			</div>
			<footer>
				<a href="#" class="btn btn-primary" @click.prevent="nextStage" v-if="active_stage != 'success'">Next</a>
				<a href="/cart" class="btn btn-primary" v-else>View cart</a>
			</footer>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				active_stage: 'fillings',
				fillings: [],
				sauces: [],
				cheese: true,
				quantity: 1,
			}
		},

		computed: {
			cart_total()
			{
				return this.$root.cart.total_items;
			}
		},

		mounted()
		{
			this.buildFillings();
			this.buildSauces();
		},

		methods: {
			buildFillings()
			{
				var _context = this;

				_.each(window._fillings, function(filling) {
					filling.active = false;
					_context.fillings.push(filling);
				});
			},

			buildSauces()
			{
				var _context = this;

				_.each(window._sauces, function(sauce) {
					sauce.active = false;
					_context.sauces.push(sauce);
				});
			},

			toggleActiveFilling(key)
			{
				this.fillings[key].active = (this.fillings[key].active) ? false : true;
			},

			toggleActiveSauce(key)
			{
				this.sauces[key].active = (this.sauces[key].active) ? false : true;
			},

			nextStage()
			{
				switch(this.active_stage) {
					case 'fillings':
						this.active_stage = 'sauces';
					break;
					case 'sauces':
						this.active_stage = 'cheese';
					break;
					case 'cheese':
						this.doAdd();
					break;
				}
			},

			doAdd()
			{
				var active_sauces = [],
					active_fillings = [];

				// Build sauce list
				_.each(this.sauces, function(sauce) {
					if(sauce.active) active_sauces.push(sauce.id);
				});

				// Build filling list
				_.each(this.fillings, function(filling) {
					if(filling.active) active_fillings.push(filling.id);
				});

				// Post to add to cart.
				axios.post('/api/cart', {
					product_id: this.$root.activeAddProduct,
					sauces: active_sauces,
					fillings: active_fillings,
					cheese: this.cheese,
					quantity: this.quantity,
				}).then(response => {
					this.$root.cart.total_items++;
					this.active_stage = 'success';
				}).catch(error => {
					console.log(error);
				});
			},

			setCheese(bool)
			{
				this.cheese = bool;
			},

			closeModal(e)
			{
				if($(e.target).hasClass('popup')) this.$root.activeAddProduct = false;
			},

			updateQuantity(change)
			{
				var new_quantity = this.quantity + change;
				if(new_quantity > 0) this.quantity = new_quantity;
			}
		}
	}
</script>