<template>
	<div class="popup popup-new-card small" @click="closeModal">
		<div class="popup-wrapper">
			<header>
				<h2>Creating a <strong>new card</strong></h2>
			</header>
			<form @submit.prevent="createCard" class="card">
				<div class="body">
					<div v-if="stage == 'create'">
						<div class="card-wrapper"></div>

						<div class="input-wrapper">
							<div class="row smaller">
								<div class="col-md-12">
									<div class="form-group">
										<input class="form-control" placeholder="Card number" type="tel" name="number" v-model="model.card">
									</div>
								</div>
							</div>
							<div class="row smaller">
								<div class="col-md-12">
									<div class="form-group">
										<input class="form-control" placeholder="Full name" type="text" name="name" v-model="model.name">
									</div>
								</div>
							</div>
							<div class="row smaller">
								<div class="col-md-8">
									<div class="form-group">
										<input class="form-control" placeholder="Expiry" type="tel" name="expiry" v-model="model.expiry">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input class="form-control" placeholder="CVC" type="tel" name="cvc" v-model="model.cvc">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div v-if="stage == 'loading'">
						<div class="loader"></div>
						<p>Loading, give us a minute...</p>
					</div>
					<div v-if="stage == 'success'">
						<div class="success-checkmark">
						  	<div class="check-icon">
						    	<span class="icon-line line-tip"></span>
						    	<span class="icon-line line-long"></span>
						    	<div class="icon-circle"></div>
						    	<div class="icon-fix"></div>
						  	</div>
						</div>
						<p>The card was saved successfully</p>
					</div>
				</div>
				<footer>
					<button class="btn btn-primary" v-if="stage == 'create'">Save card</button>	
					<a href="#" class="btn btn-primary" @click.prevent="closeModal(false)" v-if="stage == 'success' || stage == 'loading'">Close</a>
				</footer>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				stage: 'create',
				model: {
					card: null,
					name: null,
					expiry: null,
					cvc: null,
				}
			}
		},

		mounted()
		{
			this.buildCard();
		},

		methods: {
			closeModal(e)
			{
				if(e) {
					if($(e.target).hasClass('popup')) $('.popup-new-card').fadeOut(300);
				} else {
					$('.popup-new-card').fadeOut(300);
				}
			},

			buildCard()
			{
				var card = new Card({
				    form: 'form.card',
				    container: '.card-wrapper',
				});
			},

			createCard()
			{
				this.stage = 'loading';
				$('.jp-card-container').remove();
				if(this.verifyInputs()) {
					axios.post('/api/account/card', this.model)
						.then(response => {
							this.stage = 'success';
							this.$root.$emit('cardCreated');
						}).catch(error => {
							console.log(error.response);
						});
				}
			},

			verifyInputs()
			{
				return true;
			}
		}
	}
</script>