<template>
	<div class="popup popup-register small" @click="closeModal">
		<div class="popup-wrapper">
			<header>
				<h2><strong>Register</strong> an account</h2>
			</header>
			<form @submit.prevent="doRegister">
				<div class="body">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Email address" v-model="model.email" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" v-model="model.password" />
					</div>
				</div>
				<footer>
					<input type="submit" class="btn btn-primary" value="Login" />
					<p class="text-center"><a href="#">Have an account? Login</a></p>
				</footer>
			</form>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				model: {
					email: null,
					password: null,
				}
			}
		},

		methods: {
			closeModal(e)
			{
				if(e) {
					if($(e.target).hasClass('popup')) $('.popup-register').fadeOut(300);
				} else {
					$('.popup-register').fadeOut(300);
				}
			},

			doRegister()
			{
				
			},
		}
	}
</script>