<template>
	<div
		class="smart-cart"
		:class="{
			minimized: (minimized),
		}"
	>
		<div v-if="stage == 'basket'" class="stage stage-basket">
			<header>
				<h2><span class="fa fa-chevron-right" @click.prevent="hideCart"></span> Your basket</h2>
			</header>
			<div class="body">
				<div class="cart-items" v-if="cart && cart.total_items > 0">
					<div class="cart-item" v-for="item in cart.items">
						<div v-if="item.product" @click="editProduct($event, item)">
							<div class="row">
								<div class="col-8">
									<h2>{{ item.quantity }} x {{ item.product.name }}</h2>
									<p v-if="item.product.cheese_enabled || item.product.sauces_enabled || item.product.fillings_enabled"> Click to edit</p>
								</div>
								<div class="col-4 price">
									<a href="#" @click.prevent="removeProduct(item)"><span class="fa fa-times"></span></a>
									<h2>&pound;{{ item.product.price }}</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<ul v-if="item.actual_fillings && item.actual_fillings.length > 0">
										<li v-for="filling in item.actual_fillings">{{ filling.name }} (filling)</li>
									</ul>
									<ul v-if="item.actual_sauces && item.actual_sauces.length > 0">
										<li v-for="sauce in item.actual_sauces">{{ sauce.name }} (sauce)</li>
									</ul>
									<p v-if="(!item.actual_sauces && !item.actual_fillings) || (item.actual_sauces.length == 0 && item.actual_fillings.length == 0)">No extras selected</p>
								</div>
							</div>
						</div>
						<div v-if="item.deal">
							<div class="row">
								<div class="col-8">
									<h2>{{ item.deal.name }}</h2>
								</div>
								<div class="col-4 price">
									<a href="#" @click.prevent="removeProduct(item)"><span class="fa fa-times"></span></a>
									<h2>&pound;{{ item.deal.price }}</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<ul v-if="item.deal_options">
										<li v-for="option in item.deal_options">
											{{ option.product.name }}
											<ul v-if="option.fillings && option.fillings.length > 0">
												<li v-for="filling in option.fillings">{{ filling.name }} (filling)</li>
											</ul>
											<ul v-if="option.sauces && option.sauces.length > 0">
												<li v-for="sauce in option.sauces">{{ sauce.name }} (sauce)</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="empty-cart" v-else>
					<span class="fas fa-shopping-basket"></span>
					<h2>Your basket is empty</h2>
					<p>It seems like your basket has nothing in it yet! Why not <a href="/menu/deals">browse through our deals</a> and pick something you like?</p>
				</div>
			</div>
			<div class="total-cost" v-if="cart && cart.total_items > 0">
				<h2>Total cost <small v-if="cart.total_price < 15">(&pound;2.50 delivery)</small> <small class="float-right">&pound;{{ cart.total_price }}</small></h2>
			</div>
			<footer>
				<a
					href="#"
					class="btn btn-primary"
					:disabled="(!cart || (cart && cart.total_items == 0))"
					@click.prevent="goToCheckout"
				>Checkout</a>
			</footer>
		</div>

		<div v-if="stage == 'checkout' && cart" class="stage stage-checkout">
			<header>
				<h2><span class="fa fa-chevron-left float-left" @click.prevent="setStage('basket')"></span> Checkout</h2>
			</header>

			<div class="body">
				<div
					:class="{
						hidden: (loading)
					}"
				>
					<div class="form-group">
						<input type="text" name="name" class="form-control" placeholder="Full name" v-model="model.name" @keydown="clearError" />
						<p class="error-message">This is a required field</p>
					</div>
					<div class="form-group">
						<input type="text" name="email" class="form-control" placeholder="Email address" v-model="model.email" @keydown="clearError" />
						<p class="error-message">This is a required field</p>
					</div>
					<div class="form-group">
						<input type="text" name="phone" class="form-control" placeholder="Phone number" v-model="model.phone" @keydown="clearError" />
						<p class="error-message">This is a required field</p>
					</div>
					<div class="form-group">
						<input type="text" name="address_line_1" class="form-control" placeholder="Address Line 1" v-model="model.address_line_1" @keydown="clearError" />
						<p class="error-message">This is a required field</p>
					</div>
					<div class="form-group">
						<input type="text" name="address_town" class="form-control" placeholder="Town" v-model="model.address_town" @keydown="clearError" />
						<p class="error-message">This is a required field</p>
					</div>
					<div class="form-group">
						<input type="text" name="address_postcode" class="form-control" placeholder="Postcode" v-model="model.address_postcode" @keydown="clearError" />
						<p class="error-message">This is a required field</p>
					</div>
					<div id="card-element"></div>
					<div id="card-errors" role="alert"></div>
				</div>

				<div
					class="loader"
					:class="{
						hidden: (!loading)
					}"
				></div>
			</div>
			<div class="total-cost" v-if="cart && !loading">
				<h2>Total cost <small class="float-right">&pound;{{ cart.total_price }}</small></h2>
			</div>
			<footer v-if="!loading">
				<a href="#" class="btn btn-primary" @click.prevent="doCheckout">Make purchase</a>
			</footer>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			minimized: {
				default: false,
			}
		},

		data() {
			return {
				stage: 'basket',
				cart: null,
				loading: false,
				stripe_mounted: false,

				stripe: null,
				elements: null,
				card: null,

				model: {
					name: null,
					email: null,
					phone: null,
					address_line_1: null,
					address_town: null,
					address_postcode: null,
					token: null,
				}
			}
		},

		mounted()
		{
			var _context = this;

			if(this.minimized) $('.shopping-basket').css('display', 'inline-block');

			this.cart = _cart;

			this.$root.$on('cartUpdated', function(cart) {
				_context.cart = cart;
			});
		},

		updated()
		{
			if(!this.stripe_mounted && this.stage == 'checkout') {
				this.stripe_mounted = true;
				var style = {
	  				base: {
	    				color: '#fff',
	    				fontFamily: 'Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif',
	    				fontSize: '15px',
	    				'::placeholder': {
	      					color: 'rgba(255, 255, 255, .5)'
	    				},
	  				},
	  				invalid: {
	    				color: '#fa755a',
	  				}
				};

				this.stripe = Stripe('pk_test_CZrqpdf1P4bIg8ZxeLConRvj00ww7NxE4Q');
				this.elements = this.stripe.elements();
				this.card = this.elements.create('card', {style: style});
				this.card.mount('#card-element');

				this.card.addEventListener('change', function(event) {
				  	var displayError = document.getElementById('card-errors');
				  	if(event.error) {
				    	displayError.textContent = event.error.message;
				  	} else {
				    	displayError.textContent = '';
				  	}
				});
			}
		},

		methods: {
			goToCheckout()
			{
				if(!this.cart || (this.cart && this.cart.total_items == 0)) return;

				this.stage = 'checkout';
			},

			removeProduct(item)
			{
				axios.delete(`/api/cart/${item.id}`)
					.then(response => {
						this.cart = response.data;
					}).catch(error => {
						console.log(error);
					});
			},

			setStage(stage)
			{
				this.stage = stage;
			},

			doCheckout()
			{
				if(!this.passesValidation())
					return;

				var _context = this;
				this.loading = true;

			  	this.stripe.createPaymentMethod(
				  	'card',
				  	this.card
				).then(function(result) {
				  	if(result.error) {
				  		_context.loading = false;
				  	} else {
				  		_context.model.token = result.paymentMethod.id;

				  		axios.post(`/api/cart/checkout/guest`, _context.model)
							.then(response => {
								window.location.href = `/ordersnew/${response.data.pretty_id}`;
							}).catch(error => {
								console.log(error.response);
							});
				  	}
				});
			},

			passesValidation()
			{
				var errors = 0;

				_.each(this.model, function(value, field) {
					if(value == null && field != 'token') {
						errors++;
						$('input[name="' + field + '"]').closest('.form-group').addClass('error');
					} else {
						$('input[name="' + field + '"]').closest('.form-group').removeClass('error');
					}
				});

				return (errors == 0) ? true : false;
			},

			clearError(e)
			{
				$(e.currentTarget).closest('.form-group').removeClass('error');
			},

			hideCart()
			{
				$('.smart-cart').animate({
					right: '-100%',
				}, 500);

				$('.menu-content, header.new').animate({
					width: '100%',
				}, 500, function() {
					$('.shopping-basket').fadeIn(500).css('display', 'inline-block');
				});
			},

			editProduct(e, item)
			{
				// Do nothing if we clicked the remove cart button
				if($(e.target).hasClass('fa-times')) return;

				if(item.product.cheese_enabled || item.product.sauces_enabled || item.product.fillings_enabled)
					this.$root.$emit('openAddToCart', item, null, null, 'edit');
			}
		}
	}
</script>