<template>
	<div class="smart-menu">
		<ul class="tabs" v-if="categories">
			<div
				:class="{
					container: (home)
				}"
			>
				<li
					v-for="category in categories"
					:class="{
						active: (category.id == active_category.id)
					}"
				><a href="#" @click.prevent="setActiveCategory(category)">{{ category.name }}</a></li>
			</div>
		</ul>

		<div class="products" v-if="active_category">
			<div
				:class="{
					container: (home)
				}"
			>
				<div
					class="new-product"
					v-if="active_category.products && active_category.products.length > 0"
					v-for="product in active_category.products"
				>
					<div class="top">
						<a href="#" class="fillings" @click.prevent="openProductModal(product)" v-if="product.fillings_enabled || product.sauces_enabled"><img src="/images/toppings.png" class="img-fluid" /></a>
						<img :src="product.image" class="img-fluid" />
						<h2>{{ product.name }} <span class="icon" @click.prevent="openProductInfoModal(product)"><span class="fas fa-info"></span></span></h2>
						<h3>&pound;{{ product.price }}</h3>
						<!-- <a href="#" class="btn btn-primary" @click.prevent="openProductModal(product)">Add to cart</a> -->
					</div>
					<div class="bottom">
						<div class="quantity-wrapper">
							<div class="row condensed">
								<div class="col-md-4">
									<div class="quantity">
										<span class="fa fa-chevron-down down" @click.prevent="changeQuantity($event, -1)"></span>
										<input type="text" value="1" />
										<span class="fa fa-chevron-up up" @click.prevent="changeQuantity($event, 1)"></span>
									</div>
								</div>
								<div class="col-md-8">
									<a href="#" style="margin: 0;" @click.prevent="addToCart($event, product)">Add to cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a
					:href="'/deal/' + deal.slug"
					class="new-product"
					v-if="active_category.deals && active_category.deals.length > 0"
					v-for="deal in active_category.deals"
				>
					<div class="top">
						<img :src="deal.image" class="img-fluid" />
						<h2>{{ deal.name }}</h2>
						<h3>&pound;{{ deal.price }}</h3>
						<!-- <a :href="'/deal/' + deal.slug" class="btn btn-primary">Add to cart</a> -->
					</div>
					<div class="bottom">
						<a :href="'/deal/' + deal.slug" class="alt" style="margin: 0;">Build your deal</a>
					</div>
				</a>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			active: {
				required: false,
				default: false,
			},

			home: {
				required: false,
				default: false,
			}
		},

		data() {
			return {
				categories: null,
				active_category: null,
			}
		},

		mounted()
		{
			this.categories = _categories;

			if(this.active) {
				this.findAndSetActiveCategory();
			} else {
				this.active_category = this.categories[0];
			}

			this.fixProductHeights();
		},

		updated()
		{
			// this.fixProductHeights();
		},

		methods: {
			setActiveCategory(category)
			{
				this.active_category = category;
				
				if(!this.home) history.pushState(null, null, '/menu/' + category.slug);
			},

			addToCart(e, product)
			{
				var quantity = $(e.currentTarget).closest('.row').find('input').val();

				axios.post(`/api/cart`, {
					product_id: product.id,
					quantity: quantity,
				}).then(response => {
					this.$root.$emit('cartUpdated', response.data);
				}).catch(error => {
					console.log(error);
				});
			},

			openProductModal(product)
			{
				this.$root.$emit('openAddToCart', product);
			},

			openProductInfoModal(product)
			{
				this.$root.$emit('openProductInfoModal', product);
			},

			findAndSetActiveCategory()
			{
				var _context = this,
					active_key = null;

				_.each(this.categories, function(category, key) {
					if(category.slug == _context.active) active_key = key;
				});

				this.active_category = (active_key) ? this.categories[active_key] : this.categories[0];
			},

			fixProductHeights()
			{
				var height = 0;

				$('.new-product .top').css('height', 'auto');
				$('.new-product .top').each(function() {
					if($(this).innerHeight() > height) height = $(this).innerHeight();
				});

				$('.new-product .top').css('height', height);
			},

			changeQuantity(e, value)
			{
				var input = $(e.currentTarget).closest('.quantity').find('input'),
					quantity = parseInt(input.val());

				var new_quantity = quantity + value;
				if(new_quantity > 0) input.val(new_quantity);
			}
		}
	}
</script>