<template>
	<div class="smart-deal">
		<div v-if="deal">
			<div class="deal-builder">
				<header :style="'background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + deal.image + ') no-repeat center center; background-size: cover; background-attachment: fixed;'">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="info">
									<h2>{{ deal.name }} <small>&pound;{{ deal.price }}</small></h2>
									<h3>Your choice of a bagel, drink and dessert</h3>
									<p>{{ deal.description }}</p>
								</div>
							</div>
						</div>
					</div>
				</header>

				<div class="body">
					<div class="quantity-selector" v-if="quantity_deals.length == 0">
						<div class="container">
							<h2>How many meal deals do you want?</h2>
							<p>Enter your quantity below and then click through your options</p>

							<div style="max-width: 400px; margin: 0 auto">
								<div class="row condensed">
									<div class="col-5">
										<div class="quantity">
											<span class="fa fa-minus" @click.prevent="changeQuantity(-1)"></span>
											<input type="text" v-model="quantity_model" />
											<span class="fa fa-plus" @click.prevent="changeQuantity(1)"></span>
										</div>
									</div>
									<div class="col-7">
										<a href="#" class="btn btn-primary" @click.prevent="setQuantity">Build</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div v-else>
						<div class="container">
							<div
								class="deal-row"
								v-for="qdeal, qdeal_key in quantity_deals"
								:class="{
									hidden: (active_category),
								}"
							>
								<h2>Deal {{ (qdeal_key+1) }} <a href="#" class="float-right" @click.prevent="removeDeal(qdeal_key)">Remove</a></h2>
								<div class="row option-selections">
									<div
										class="col-md-4"
										v-for="category, deal_key in qdeal"
									>
										<a
											href="#"
											class="option-selector"
											@click.prevent="setActiveCategory(deal_key, qdeal_key)"
											v-if="!category.selected"
										>
											<span :class="category.icon"></span>
											<h2>Choose your {{ category.name.slice(0, -1) }}</h2>
											<p>{{ category.description }}</p>
										</a>

										<div
											class="option-selected"
											v-else
											:style="'background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(' + category.selected.product.image + ') no-repeat center center; background-size: cover;'"
											@click.prevent="removeSelected(deal_key, qdeal_key)"
										>
											<div class="info">
												<h2>{{ category.selected.product.name }}</h2>
												<p>Click to remove</p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="product-selector" v-if="active_category">
								<h2>Choosing your {{ active_category.name.slice(0, -1) }} <a href="#" class="float-right" @click.prevent="setActiveCategory(null)">Go back</a></h2>
								<div class="row">
					        		<div class="col-md-4 col-12" v-for="product in active_category.products">
					        			<div class="product" @click.prevent="openProductModal(product, active_category.key, active_category.deal_key)">
											<img :src="product.image" class="img-fluid" />
											<h2>{{ product.name }} <small class="float-right">&pound;{{ product.price }}</small></h2>
											<h3>{{ product.subtitle }}</h3>
										</div>
					        		</div>
					        	</div>
							</div>

							<div class="add-deal" v-if="!active_category">
								<a href="#" class="btn btn-primary" @click.prevent="addDeal">Add another deal</a>
							</div>

							<div class="add-to-cart" v-if="selected == deal_count && !active_category">
								<a href="#" class="btn btn-primary" @click.prevent="addToCart">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				categories: null,
				deal: null,
				selected: 0,
				active_category: null,
				option_height: null,
				quantity: null,
				quantity_model: 1,
				quantity_deals: [],
				deal_count: 0,
			}
		},

		mounted()
		{
			var _context = this;

			this.categories = _categories;
			this.buildDeal();

			this.$root.$on('dealAdded', function(data, deal_key, deal_item_key) {
				// _context.deal.deals[deal_key].selected = data;
				_context.selected++;
				_context.setActiveCategory(null);

				_context.quantity_deals[deal_item_key][deal_key].selected = data;
			});
		},

		updated()
		{
			$('.option-selected').not('.fixed').css('height', $('.option-selections').innerHeight()).addClass('fixed');
		},

		methods: {
			buildDeal()
			{
				var deals = [];

				_.each(_deal.deals, function(deal) {
					var the_deal = deal;
					the_deal.selected = null;
					deals.push(the_deal);
				});

				_deal.deals = deals;
				this.deal = _deal;
			},

			toggleCollapse(e)
			{
				var card_parent = $(e.currentTarget).closest('.card'),
					collapse = card_parent.find('.collapse');

				collapse.toggleClass('show');
			},

			openProductModal(product, deal_key, deal_item_key)
			{
				if(product.fillings_enabled || product.cheese_enabled || product.sauces_enabled)
					return this.$root.$emit('openAddToCart', product, deal_key, deal_item_key);

				var data = {
					product: product,
					sauces: [],
					fillings: [],
					cheese: false,
					quantity: 1,
				};

				this.$root.$emit('dealAdded', data, deal_key, deal_item_key);
			},

			removeSelected(deal_key, deal_item_key)
			{
				this.quantity_deals[deal_item_key][deal_key].selected = null;
				this.selected--;
			},

			addToCart()
			{
				var selected_deals = [];

				_.each(this.quantity_deals, function(qdeal) {
					var _deal = [];
					_.each(qdeal, function(deal) {
						_deal.push(deal.selected);
					});

					selected_deals.push(_deal);
				});

				axios.post(`/api/cart/deal`, {
					deal_id: this.deal.id,
					deals: selected_deals,
				}).then(response => {
					window.location.href = '/menu';
				}).catch(error => {
					console.log(error);
				});
			},

			setActiveCategory(key, deal_key)
			{
				if(key != null) {
					var _category = this.deal.deals[key];
					_category.key = key;
					_category.deal_key = deal_key;
				} else {
					var _category = null;
				}

				this.active_category = _category;
			},

			changeQuantity(value)
			{
				this.quantity_model += value;
			},

			setQuantity()
			{
				this.quantity = this.quantity_model;
				var amount = 0;

				for(var i=0;i<this.quantity;i++) {
					this.quantity_deals.push(JSON.parse(JSON.stringify(this.deal.deals)));
					amount += this.deal.deals.length;
				}

				this.deal_count = amount;
			},

			addDeal()
			{
				this.quantity_deals.push(JSON.parse(JSON.stringify(this.deal.deals)));
				this.deal_count += this.deal.deals.length;
			},

			removeDeal(key)
			{
				var count = 0;
				_.each(this.quantity_deals[key], function(deal) {
					if(deal.selected) count++;
				});

				this.quantity_deals.splice(key, 1);
				this.deal_count -= this.deal.deals.length;
				this.selected -= count;
			}
		}
	}
</script>